# Configuration file

####################
# block
####################

block {
    I:"Force Brick"=1183
    I:"Force Engine"=1184
    I:"Force Frame"=1185
    I:"Force Infuser"=1186
    I:"Force Leaves"=1187
    I:"Force Slab"=1188
    I:"Force Stairs"=1189
    I:"Force Torch"=1190
    I:"Force Wood"=1191
    I:"Liquid Force"=1192
    I:Machine=1193
    I:Plants=1194
    I:"Power Ore"=1195
}


####################
# client
#===================
# Client-Side options.
####################

client {
    # Note: only for DartCraft flight.  1 = others, 2 = others and self, 3 = others, self and Creative flight
    I:"Flight Particles"=2

    # Client-side option sent to server, if enabled the player's Grinding tools will grind cobble into sand.
    B:"Grind Cobblestone"=true

    # Hides the magic meter at all times, regardless of other settings.
    B:"Hide Magic"=false

    # Time in seconds that the Magic Meter will wait to calculate your maximum magic.  Longer times mean waiting longer to use magic but also a greater chance that your armor can be factored into your max magic. (1-10)
    I:"Meter Delay"=1

    # Amount of particles for Force Pipes.  0 for none, 1 for few, 2 for normal  (Also controls some TileEntities and tools)
    I:"Pipe Particles"=2

    # Render Entities in Force Flasks.
    B:"Render Bottles"=true

    # Only apply Force Armor Speed while sprinting
    B:"Sprint Speed"=false

    # Render Time Particles.
    B:"Time Particles"=true

    # Render Force Leaves with Transparency.
    B:"Transparent Leaves"=true

    # Moves the player's hearts to the top-left part of the screen with the magic meter.  (Note Health could still display if another mod does not adhere to Forge standards.)
    B:"Zelda Hud"=false
}


####################
# entities
#===================
# Entity settings.  Entity IDs should not need to be set unless another mod screws something up.  Cold Cows, Chickens and Pigs can be set to -1 to make them a mod-specific entity (no spawn egg).  This may fix animals transforming incorrectly when sheared.
####################

entities {
    # (0-3)
    I:"Chu Chu Chance"=1
    I:"Chu Chu ID"=0
    I:"Cold Chicken ID"=0
    I:"Cold Cow ID"=0
    I:"Cold Pig ID"=0
    I:"Creeper Tot ID"=0
    B:"Drop Hearts"=true
    B:"Drop Magic"=true
    I:"Ender Tot ID"=0
    I:"Ender Tot Spawn Chance (0-3)"=2

    # Maximum number of ChuChus to spawn at a time. (4-8)
    I:"Max Chus"=6
    I:"Max Ender Tots Per Spawn (1-2)"=1

    # Minimum number of ChuChus to spawn at a time.  They like to spawn in groups.  (1-4)
    I:"Min Chus"=3
}


####################
# hardcore
#===================
# Hardcore settings for players that literally have nothing else to do.
####################

hardcore {
    # Disable the Ender upgrade on Force Swords.
    B:"No Ender Swords"=false

    # Disable all upgrades to Force Armor.
    B:"No Force Armor"=false

    # Disable the Healing upgrade on Force Rods.
    B:"No Healing Rods"=false

    # Disable the Heat upgrade on Force Rods.
    B:"No Heat Rods"=false

    # Disable the Speed upgrade on Force Rods.
    B:"No Speed Rods"=true

    # Disallow the Sturdy upgrade on Force Armor.
    B:"No Sturdy Armor"=false

    # Disallow the Wing upgrade on Force Armor.
    B:"No Wing Armor"=false

    # Disable the Wing upgrade on Force Swords and Power Saws
    B:"No Wing Swords"=false

    # Ender Rods will be bound to a single dimension.
    B:"Picky Ender Rods"=false

    # All Treasure Mechanics will cease to function.  The upgrade will also not be craftable.
    B:"Treasure Disabled"=false
}


####################
# insane
#===================
# Insanely overpowered options added by request.
####################

insane {
    # Force Infusers may be used by players other than their owner.  Unfortunately this will also remove the experience use requirement, regardless of other settings.
    B:"Coop Mode"=false

    # DartCraft Magic is non-existant and all DartCraft implements no longer require/use magic.
    B:"Free Magic"=false

    # Enable the Impervious upgrade which makes Force Tools unbreakable.
    B:"Impervious Upgrade"=false
}


####################
# item
####################

item {
    I:Baconator=5744
    I:Claw=5745
    I:Clipboard=5746
    I:"Cooked Lambchop"=5747
    I:"Crated Force Gems"=5748
    I:Dartpendium=5749
    I:Dusts=5750
    I:"Ender Pack"=5751
    I:"Entity Bottle"=5752
    I:"Force Arrow"=5753
    I:"Force Axe"=5754
    I:"Force Belt"=5755
    I:"Force Boots"=5756
    I:"Force Bow"=5757
    I:"Force Bucket"=5758
    I:"Force Cap"=5759
    I:"Force Container"=5760
    I:"Force Flask"=5761
    I:"Force Gear"=5762
    I:"Force Gem"=5763
    I:"Force Hammer"=5764
    I:"Force Ingot"=5765
    I:"Force Mitts"=5766
    I:"Force Nugget"=5767
    I:"Force Pack"=5768
    I:"Force Pants"=5769
    I:"Force Pickaxe"=5770
    I:"Force Pipe"=5771
    I:"Force Rod"=5772
    I:"Force Shard"=5773
    I:"Force Shears"=5774
    I:"Force Shovel"=5775
    I:"Force Stick"=5776
    I:"Force Sword"=5777
    I:"Force Tome"=5778
    I:"Force Tunic"=5779
    I:"Force Wrench"=5780
    I:Fortune=5781
    I:"Fortune Cookie"=5782
    I:"Golden Power Source"=5783
    I:"Inert Core"=5784
    I:"Loot Bag"=5785
    I:"Magnet Glove"=5786
    I:"Member Card"=5787
    I:"Milk Container"=5788
    I:"Power Drill"=5789
    I:"Power Saw"=5790
    I:"Raw Lambchop"=5791
    I:"Soul Wafer"=5792
    I:Tear=5793
    I:"Tile Box"=5794
    I:"Upgrade Core"=5795
}


####################
# magic
#===================
# Options relating to the Magic Meter and its uses.
####################

magic {
    # Camo implements use magic.
    B:"Camo Magic"=true

    # Damage implements use magic.
    B:"Damage Magic"=false

    # Force Rods will not use or requie magic.
    B:"Emempt Rods"=false

    # Ender implements use magic.
    B:"Ender Magic"=true

    # The Magic Meter recharges at the old Wing Meter's rate.
    B:"Fast Magic"=false

    # Healing implements use magic.
    B:"Heal Magic"=true

    # Heat implements use magic.
    B:"Heat Magic"=true

    # Freezing implements use magic.
    B:"Ice Magic"=true

    # The magic meter will look like the old Wing Meter.
    B:"Old Meter"=false

    # Sight implements use magic.
    B:"Sight Magic"=true

    # Speed implements use magic.
    B:"Speed Magic"=false

    # Force Swords will use magic for upgrades like Damage, Heat and Freezing
    B:"Sword Magic"=false

    # Time implements use magic.
    B:"Time Magic"=true
}


####################
# misc
#===================
# Utilities and miscellaneous options.
####################

misc {
    # Liquid Force will cause Undead entities to drop their current equipment.
    B:"Bane Force"=false

    # Change the amount of Liquid Force used by IForceConsumers (0.5-2.0) (Default: 1.0)
    D:"Consumer Modifier"=2.0

    # Enable smelting of Iron into Dart Iron, which can be used to make Force Ingots more efficiently.
    B:"Dart Iron"=true

    # Enables console output for development purposes only.  Do not enable this.
    B:"Debug Mode"=false

    # Force Armor will be transmutable from leather instead of crafted with Force Ingots.
    B:"Easy Force Armor"=false

    # Ender Arrows can affect players if PVP is enabled.
    B:"Ender Arrow Players"=true

    # Force Flasks ignore monster HP
    B:"Epic Bottles"=false
    D:"Force Gem raw liquid value (0.25 - 1.0)"=0.25

    # Storage Units can be upgraded to hold 108 items (72 if false)
    B:"Large Storage Units"=true
    B:"Normalize Force Tool enchants."=true

    # Ore Chunks will be craftable out of DartCraft Dusts.
    B:"Ore Chunks"=true

    # Ender Rods will not work in combat.
    B:"Picky Ender Rods"=true

    # (No mapping slots to the same key)
    B:"Picky Force Belts"=true

    # Force Rods have a short cooldown
    B:"Rod Cooldown"=true

    # Storage Units do not need the Sturdy upgrade to retain their inventories when broken.
    B:"Super Storage"=false

    # Distance in blocks that upgraded Force torches will run their custom logic.  (4-8)
    I:"Torch distance"=4

    # Number of ticks each upgraded Force Torch will run its custom logic after.  (75 - 200)
    I:"Torch update frequency"=150
}


####################
# plugins
#===================
# Enable or disable external mod integration.
####################

plugins {
    # Allows Flask of Angry Bees to be crafted from unwanted Forestry Drones.
    B:"Angry Bee Flask"=true

    # Assert that Forestry Bronze can be crafted from 3 copper and 1 tin.
    B:"Assert Bronze"=false
    B:"Force Gear BC Quarry Recipe"=false

    # Enable the Force Hammer, a DartCraft version of IC2's Forge Hammer.
    B:"Force Hammer"=true

    # Allow Nether Quartz to be frozen into Certus Quartz.
    B:"Freeze Quartz"=false

    # Disallow Wing Implements in the Twilight Forest.
    B:"No Twiflight"=false

    # Allow IC2 crystals to be crafted from rubies and redstone.
    B:"Ruby Crystals"=false

    # Force Mitts normalize Silverwood Sapling drops.
    B:"Silverwood Surprise"=true

    # Amount of Liquid Force Squeezed from Force Logs, if enabled.  (1 - 1000) (100 = 1/10 bucket)
    I:"Squeeze Amount"=30

    # Allows Liquid Force to be squeezed from Force Logs.
    B:"Squeeze Force"=true
}


####################
# potions
#===================
# DartCraft Potion settings.  Note: disabling a certain potion will also prevent that color of Chu Chu from spawning.
####################

potions {
    # Blue Potion heal amount in hearts (5-20) (Default: 20)
    I:"Blue Amount"=20

    # Enables Blue Potion creation.
    B:"Blue Potion"=true

    # Enables Chateau Notch creation.
    B:"Chateau Notch"=true

    # Duration in seconds of Chateau Notch's persistant magic effect.  (60-300) (Default: 180)
    I:"Chateau Time"=180

    # Allows the use of potions incombat.
    B:"Combat Potions"=true

    # Enables Green Potion creation.
    B:"Green Potion"=true

    # Time in seconds between potion use.  (0-30) (Default: 0)
    I:"Potion Timeout"=0

    # Red Potion heal amount in hearts (5-20) (Default: 20)
    I:"Red Amount"=20

    # Enables Red Potion creation.
    B:"Red Potion"=true
}


####################
# storage
#===================
# DartCraft storage media settings.
####################

storage {
    # Forestry Packs will not be allowed in Force Packs.
    B:"Blacklist Forestry Packs"=true

    # Force Packs will start out with this amount of slots.  (8-40) (Default: 8)
    I:"Initial pack size"=8

    # Time in seconds that Force Packs will check their Item Cards to restock (2-20) (Default: 5)
    I:"Restock Time"=5
}


####################
# time
#===================
# Modify or remove Time Magic effects.  Note that disabling both Sword and Rod upgrades will remove the upgrade altogether.
####################

time {
    # Enables Time Magic (acceleration only) to affect block updates.  (Crop growth, grass spreading etc.)
    B:"Affects Blocks"=false

    # Enables Time Magic (acceleration only) to affect TileEntity updates.  (Furnace smelt speed, IC2 Crop growth,etc.)
    B:"Affects Tiles"=true

    # Enables Time upgrade for Force Rods.
    B:"Enable Rods"=true

    # Enables Time upgrade for Force Swords.
    B:"Enable Swords"=true

    # Upgrade Force Torches with Time.
    B:"Torch Upgrade"=false

    # Only TileEntities that are Force Wrenchable will be sped up.
    B:"Wrenchable Only"=false
}


####################
# upgrades
#===================
# Change upgrade settings.
####################

upgrades {
    # The Treasure Core upgrade is much cheaper.
    B:"Cheap Treasure"=false

    # Max level for Damage Upgrade (2-5) (default: 5)
    I:"Damage Level"=4

    # The Wing upgrade will be given by a feather instead of the Roc's Feather.
    B:"Easy Wing"=false

    # Distance to which players may teleport using Ender Swords (32-96) (Default: 48)
    I:"Ender Distance"=48

    # Experience cost of infuser upgrades.  (0 = none, 1 = 1 level per upgrade, 2 = total material tiers in levels)
    I:"Experience Cost"=2

    # The Heat upgrade will be given by a Fire Resistance Potion instead of Golden Power Source
    B:"Hard Heat"=true

    # The Sturdy upgrade will only be given by Diamond Dust.  If set to false Bricks and Obsidian may be used.
    B:"Hard Sturdy"=true

    # Base Jump Time for Wing Armor (2-5) (Default: 3)
    I:"Jump Time"=3

    # Enable Thaumcraft Repair from Crystal Clusters.
    B:"Repair Enabled"=false

    # If true the Force Infuser requries some experience to use.
    B:"Require Experience"=true

    # Upgrade materials can be required to level Upgrade Tome.  (default: true)
    B:"Require Materials"=false

    # Max level for Speed upgrade (1-5) (default: 5)
    I:"Speed Level"=5

    # Increases the Sturdy reduction coefficient on Force Armor.
    B:"Sturdy Buff"=false

    # The Sturdy upgrade will make players hungry when hit.
    B:"Sturdy Hunger"=true

    # Max level for Sturdy Upgrade (1-3) (default: 2)
    I:"Sturdy Level"=2

    # Tier for the Time Upgrade (1-7)
    I:"Time Tier"=3

    # (0-3) 0 = Enemies can randomly drop Bags, 1 = Enemies can randomly drop cards, 2 = Treasure Needed for Bags, 3 = Treasure needed for cards.
    I:"Treasure Level"=3
}


####################
# worldgen
#===================
# Change how Power Ore generates into the world.
####################

worldgen {
    # 1.0 being as common as the overworld, 1.5 being default. (0.5 - 2.5)
    D:"Nether Ore Frequency"=1.3
    I:"Ore Per Vein (2-6)"=3

    # Changing this key will allow regen to re-run for chunks that have already been regenerated.  (Not recommended)
    S:"Regen Key"=1-1 A

    # If enabled Power Ore will attempt to regenerate in chunks the current Regen Key was not saved to.  (Warning: will work for new chunks as well.
    B:"Regen Ore"=false
    I:"Veins Per Chunk (2-16)"=8
}


####################
# wrench
#===================
# Force Wrench functionality.
####################

wrench {
    # Force Wrenches can only wrench things on the whitelist.  (wrenchables.txt)
    B:"Enable Whitelist"=true

    # Force Wrenches require Liquid Force to pick things up.
    B:"Liquid Wrench"=true
    B:"Log Wrenching"=false

    # Force Wrenches require some magic to use.
    B:"Magic Wrench"=true

    # Allow Force Wrenching of TileEntities with blacklisted items.
    B:"Sierpinski's Wrench"=true

    # Allow Force Wrenching of TileEntities and TileBox placement by simulated players.
    B:"Simulated Players"=false
}


