# Configuration file

####################
# weather: storm & tornado
####################

"weather: storm & tornado" {
    B:Storm_FlyingBlocksHurt=true
    B:Storm_Lightning_active=true
    B:Storm_Tornado_blockBlacklistMode=false
    S:Storm_Tornado_blockList=2,3,5,6,12,31,18,20,35,43,44,53,79,87
    B:Storm_Tornado_blockStrengthGrabbing=true
    B:Storm_Tornado_grabBlocks=true
    B:Storm_Tornado_grabPlayer=true
    D:Storm_Tornado_height=60.0
    B:Storm_Tornado_makeClouds=true
    I:Storm_Tornado_maxActive=1
    I:Storm_Tornado_maxBlocks=800
    I:Storm_Tornado_maxParticles=3000
    D:Storm_Tornado_maxYChange=10.0
    D:Storm_Tornado_minDaysBetweenTornado=10.0
    D:Storm_Tornado_oddsOfTornadoTo1=20.0
    B:Storm_Tornado_oldParticles=false
    I:Storm_Tornado_rarityOfBreakOnFall=5
    I:Storm_Tornado_rarityOfDisintegrate=15
    I:Storm_Tornado_rarityOfFirenado=-1
    I:Storm_rarityOfIncrease=4000
    I:TropicraftRealm_Storm_Tornado_maxActive=0
    B:smoothRain=true
}


