# Configuration file

####################
# armour recipes
####################

"armour recipes" {
    B:Adamantine=true
    B:Amordrine=true
    B:Angmallen=true
    B:"Astral Silver"=true
    B:Atlarus=true
    B:"Black Steel"=true
    B:Brass=true
    B:Bronze=true
    B:Carmot=true
    B:Celenegil=true
    B:Ceruclase=true
    B:Copper=true
    B:"Damascus Steel"=true
    B:"Deep Iron"=true
    B:Desichalkos=true
    B:Electrum=true
    B:Eximite=true
    B:Haderoth=true
    B:Hepatizon=true
    B:Ignatius=true
    B:Inolashite=true
    B:Kalendrite=true
    B:Midasium=true
    B:Mithril=true
    B:Orichalcum=true
    B:Oureclase=true
    B:Platinum=true
    B:Prometheum=true
    B:Quicksilver=true
    B:Sanguinite=true
    B:"Shadow Iron"=true
    B:"Shadow Steel"=true
    B:Silver=true
    B:Steel=true
    B:Tartarite=true
    B:Vulcanite=true
    B:Vyroxeres=true
}


####################
# cheats
####################

cheats {
    B:"Spawn Ore In Air"=false
}


####################
# features
####################

features {
    B:"Bucket Recipes"=true
}


####################
# metal sets
####################

"metal sets" {
    S:"File List"=
    S:"Metal Set List"=
}


####################
# tool recipes
####################

"tool recipes" {
    B:Adamantine=true
    B:Amordrine=true
    B:Angmallen=true
    B:"Astral Silver"=true
    B:Atlarus=true
    B:"Black Steel"=true
    B:Brass=true
    B:Bronze=true
    B:Carmot=true
    B:Celenegil=true
    B:Ceruclase=true
    B:Copper=true
    B:"Damascus Steel"=true
    B:"Deep Iron"=true
    B:Desichalkos=true
    B:Electrum=true
    B:Eximite=true
    B:Haderoth=true
    B:Hepatizon=true
    B:Ignatius=true
    B:Inolashite=true
    B:Kalendrite=true
    B:Midasium=true
    B:Mithril=true
    B:Orichalcum=true
    B:Oureclase=true
    B:Platinum=true
    B:Prometheum=true
    B:Quicksilver=true
    B:Sanguinite=true
    B:"Shadow Iron"=true
    B:"Shadow Steel"=true
    B:Silver=true
    B:Steel=true
    B:Tartarite=true
    B:Vulcanite=true
    B:Vyroxeres=true
}


