# Configuration file

####################
# block
####################

block {
    I:Conduit=2008
    I:Device=2003
    I:Dynamo=2004
    I:EnergyCell=2005
    I:FluidCoal=2022
    I:FluidCryotheum=2020
    I:FluidEnder=2018
    I:FluidGlowstone=2017
    I:FluidMana=2021
    I:FluidPyrotheum=2019
    I:FluidRedstone=2016
    I:Glass=2013
    I:Invisible=2015
    I:Lamp=2011
    I:Machine=2002
    I:Ore=2001
    I:Plate=2010
    I:Rockwool=2014
    I:Storage=2012
    I:Strongbox=2007
    I:Tank=2006
    I:Tesseract=2009
    ####################
    # feature
    ####################

    feature {
        B:Cell.Basic=true
        B:Cell.Creative=true
        B:Cell.Hardened=true
        B:Cell.Reinforced=true
        B:Cell.Resonant=true
        B:Conduit.Energy.Basic=true
        B:Conduit.Energy.Hardened=true
        B:Conduit.Energy.High=true
        B:Conduit.Energy.Low=true
        B:Conduit.Energy.Reinforced=true
        B:Conduit.Fluid.Opaque=true
        B:Conduit.Fluid.Transparent=true
        B:Conduit.Item.Fast.Opaque=true
        B:Conduit.Item.Fast.Transparent=true
        B:Conduit.Item.Opaque=true
        B:Conduit.Item.Transparent=true
        B:Device.Activator=true
        B:Device.Breaker=true
        B:Device.Nullifier=true
        B:Device.Workbench=true
        B:Dynamo.Compression=true
        B:Dynamo.Magmatic=true
        B:Dynamo.Reactant=true
        B:Dynamo.Steam=true
        B:Lamp.Enable=true
        B:Machine.AutoCrafter=true
        B:Machine.Charger=true
        B:Machine.Crucible=true
        B:Machine.Furnace=true
        B:Machine.IceGen=true
        B:Machine.Pulverizer=true
        B:Machine.RockGen=true
        B:Machine.Sawmill=true
        B:Machine.Smelter=true
        B:Machine.Transposer=true
        B:Machine.WaterGen=true
        B:Machine.smelter=true
        B:Strongbox.Basic=true
        B:Strongbox.Creative=true
        B:Strongbox.Hardened=true
        B:Strongbox.Reinforced=true
        B:Strongbox.Resonant=true
        B:Tank.Basic=true
        B:Tank.Creative=true
        B:Tank.Hardened=true
        B:Tank.Reinforced=true
        B:Tank.Resonant=true
        B:Tesseract.Enable=true
    }

    ####################
    # security
    ####################

    security {
        # Enable this to allow for Strongboxes to be secure inventories. (Default: true)
         B:Strongbox.Secure=true

        # Enable this to allow for Machinist Workbenches to be secure inventories. (Default: true)

    }

}


####################
# general
####################

general {
    B:ColorBlindTextures=false
    B:DrawGUISlotBorders=true
    B:EnableDebugOutput=false
    B:EnableDismantleLogging=false
    B:EnableUpdateNotifications=true
    S:Version=3.0.0.2
}


####################
# gui
####################

gui {
    ####################
    # hud
    ####################

    hud {
        B:EnableFluidModule=true
        B:EnableStuffedItemModule=true
    }

}


####################
# holiday
####################

holiday {
    # Set this to true to disable Christmas cheer. Scrooge. :(
    B:HoHoNo=false
}


####################
# item
####################

item {
    I:Armor.Invar.Boots=20012
    I:Armor.Invar.Helmet=20009
    I:Armor.Invar.Legs=20011
    I:Armor.Invar.Plate=20010
    I:Component=20007
    I:Diagram=20006
    I:FMP.Conduit=20022
    I:Material=20008
    I:Tool.Bucket=20003
    I:Tool.Capacitor=20005
    I:Tool.Florb=20004
    I:Tool.Invar.Axe=20016
    I:Tool.Invar.BattleWrench=20021
    I:Tool.Invar.FishingRod=20019
    I:Tool.Invar.Hoe=20017
    I:Tool.Invar.Pickaxe=20015
    I:Tool.Invar.Shears=20018
    I:Tool.Invar.Shovel=20014
    I:Tool.Invar.Sickle=20020
    I:Tool.Invar.Sword=20013
    I:Tool.Multimeter=20002
    I:Tool.Wrench=20001
    ####################
    # feature
    ####################

    feature {
        B:Armor.Invar=true
        B:Tool.Invar.Axe=true
        B:Tool.Invar.BattleWrench=true
        B:Tool.Invar.FishingRod=true
        B:Tool.Invar.Hoe=true
        B:Tool.Invar.Pickaxe=true
        B:Tool.Invar.Shears=true
        B:Tool.Invar.Shovel=true
        B:Tool.Invar.Sickle=true
        B:Tool.Invar.Sword=true
    }

}


####################
# plugins
####################

plugins {
    B:ComputerCraft=true
    B:Forestry=true
    B:MineFactoryReloaded=true
    B:Recipes=true
    B:Thaumcraft4=true
    ####################
    # tweak
    ####################

    tweak {
        B:CC.TurtlesCanBreakBlocks=false
        B:MFR.Coal.Straw=true
        B:MFR.Cryotheum.Straw=true

        # This controls the maximum distance (in blocks) a player will teleport from drinking Ender. (Max: 65536)
        I:MFR.Ender.Range=16384
        B:MFR.Ender.Straw=true
        B:MFR.Glowstone.Straw=true
        B:MFR.Pyrotheum.Straw=true
        B:MFR.Redstone.Straw=true
    }

}


####################
# tweak
####################

tweak {
    B:Crucible.BlazeRod=true
    I:Crucible.BlazeRod.Energy=20000
    B:Crucible.Netherrack=true
    I:Crucible.Netherrack.Energy=120000

    # Enable this for Fluid Coal to be flammable.
    B:Fluid.Coal.Flammable=true

    # Enable this for Fluid Cryotheum to be worse than lava, except cold.
    B:Fluid.Cryotheum.Effect=true

    # Enable this for Fluid Cryotheum Source blocks to gradually fall downwards.
    B:Fluid.Cryotheum.Fall=true

    # Enable this for Fluid Ender to randomly teleport entities on contact.
    B:Fluid.Ender.Effect=true

    # Enable this for Fluid Glowstone Source blocks to condense back into solid Glowstone above a given y-value.
    B:Fluid.Glowstone.Condense=true

    # Enable this for Fluid Glowstone to do...something.
    B:Fluid.Glowstone.Effect=true

    # Enable this for Fluid Glowstone Source blocks to gradually float upwards.
    B:Fluid.Glowstone.Float=true

    # This adjusts the y-value where Fluid Glowstone will *always* condense, if that is enabled. It will also condense above 80% of this value, if it cannot flow.
    I:Fluid.Glowstone.MaxHeight=120

    # Enable this for Fluid Pyrotheum to be worse than lava.
    B:Fluid.Pyrotheum.Effect=true

    # Enable this for Fluid Pyrotheum Source blocks to gradually fall downwards.
    B:Fluid.Pyrotheum.Fall=true

    # Enable this for Fluid Redstone to emit a signal proportional to its fluid level.
    B:Fluid.Redstone.Effect=true
    I:LavaRFValue=200000
    B:Pulverizer.Wool=false
    I:WaterGen.Rate=25
    ####################
    # crafting
    ####################

    crafting {
        B:Crucible.AllowRecipeOverwrite=false
        B:Furnace.AllowRecipeOverwrite=false
        B:Pulverizer.AllowRecipeOverwrite=false
        B:Pulverizer.BlazeRod=true
        B:Pulverizer.BlizzRod=true
        B:Pulverizer.Bone=true
        I:Pulverizer.Cinnabar.Chance=25
        B:Pulverizer.Cloth=true
        B:Pulverizer.Netherrack=true
        B:Pulverizer.Reed=true
        B:Pulverizer.Sandstone=true
        I:RockGen.Cobblestone.Lava=0
        I:RockGen.Cobblestone.Time=40
        I:RockGen.Cobblestone.Water=0
        I:RockGen.Obsidian.Lava=1000
        I:RockGen.Obsidian.Time=120
        I:RockGen.Obsidian.Water=1000
        I:RockGen.Stone.Lava=0
        I:RockGen.Stone.Time=80
        I:RockGen.Stone.Water=1000
        B:Sawmill.AllowRecipeOverwrite=false
        B:Smelter.AllowRecipeOverwrite=false
        B:Smelter.Steel.Enable=false
        B:Transposer.AllowRecipeOverwrite=false
    }

    ####################
    # recipe
    ####################

    recipe {
        B:Breaker.UseDiamondPickaxe=false
        B:MachineFrame.AllowSteel=false
        B:MachineFrame.RequireSteel=false
        B:PneumaticServo.AllowBronze=true
        B:PneumaticServo.AllowInvar=false
        B:PneumaticServo.AllowSilver=true
        B:PneumaticServo.AllowSteel=false
        B:Pulverizer.AddDiamonds=false
        B:Smelter.AddDiamonds=false
        B:UseGears=false
    }

}


####################
# world
####################

world {
    ####################
    # feature
    ####################

    feature {
        B:Ore.Copper=true
        B:Ore.Lead=true
        B:Ore.Nickel=true
        B:Ore.Silver=true
        B:Ore.Tin=true
    }

}


