# Configuration file

####################
# item
####################

item {
    ####################
    # feature
    ####################

    feature {
        # This allows you to disable Florbs entirely. It also means that you actively dislike fun things.
        B:Florb.Enable=true
    }

}


####################
# whitelist
####################

whitelist {
    B:aluminum.molten=true
    B:aluminumbrass.molten=true
    B:alumite.molten=true
    B:ardite.molten=true
    B:biofuel=true
    B:blood=true
    B:bop.honey=true
    B:bop.liquidpoison=true
    B:bop.springwater=true
    B:bronze.molten=true
    B:chocolatemilk=true
    B:clensingwater=true
    B:coal=true
    B:cobalt.molten=true
    B:constructionfoam=true
    B:copper.molten=true
    B:creosote=true
    B:cryotheum=true
    B:cyanite=true
    B:diesel=true
    B:electrum.molten=true
    B:emerald.liquid=true
    B:ender=true
    B:endergoo=true
    B:"epic mana restoration.postfix"=true
    B:fastwater=true
    B:fishfood=true
    B:fishoil=true
    B:fluidtnt=true
    B:fluxgoo=true
    B:fuel=true
    B:fuelcolumn=true
    B:gascraft_corrosivegas=true
    B:gascraft_hydrogen=true
    B:gascraft_naturalgas=true
    B:gascraft_neurotoxin=true
    B:gascraft_propellent=true
    B:gascraft_smoke=true
    B:gascraft_toxicgas=true
    B:glass.molten=true
    B:glowstone=true
    B:glue=true
    B:gold.molten=true
    B:"greater mana restoration.postfix"=true
    B:ic2coolant=true
    B:invar.molten=true
    B:iron.molten=true
    B:lava=true
    B:lead.molten=true
    B:"life essence"=true
    B:liquidessence=true
    B:liquidforce=true
    B:manyullyn.molten=true
    B:meat=true
    B:milk=true
    B:mobessence=true
    B:"molten conductive redmetal"=true
    B:"molten redstone"=true
    B:molten.adamantine=true
    B:molten.alduorite=true
    B:molten.amordrine=true
    B:molten.angmallen=true
    B:molten.astral.silver=true
    B:molten.atlarus=true
    B:molten.black.steel=true
    B:molten.brass=true
    B:molten.carmot=true
    B:molten.celenegil=true
    B:molten.ceruclase=true
    B:molten.damascus.steel=true
    B:molten.deep.iron=true
    B:molten.desichalkos=true
    B:molten.eximite=true
    B:molten.haderoth=true
    B:molten.hepatizon=true
    B:molten.ignatius=true
    B:molten.infuscolium=true
    B:molten.inolashite=true
    B:molten.kalendrite=true
    B:molten.lemurite=true
    B:molten.manganese=true
    B:molten.meutoite=true
    B:molten.midasium=true
    B:molten.mithril=true
    B:molten.orichalcum=true
    B:molten.oureclase=true
    B:molten.platinum=true
    B:molten.prometheum=true
    B:molten.quicksilver=true
    B:molten.rubracium=true
    B:molten.sanguinite=true
    B:molten.shadow.iron=true
    B:molten.shadow.steel=true
    B:molten.tartarite=true
    B:molten.vulcanite=true
    B:molten.vyroxeres=true
    B:molten.zinc=true
    B:moltenmagnesium=true
    B:moltenrutile=true
    B:moltentitanium=true
    B:mushroomsoup=true
    B:mutagen=true
    B:myst.ink.black=true
    B:naturalgas=true
    B:nickel.molten=true
    B:obsidian.molten=true
    B:oil=true
    B:pinkslime=true
    B:platinum.molten=true
    B:potion=true
    B:"potion of fire resistance"=true
    B:"potion of harming"=true
    B:"potion of healing"=true
    B:"potion of night vision"=true
    B:"potion of poison"=true
    B:"potion of regeneration"=true
    B:"potion of slowness"=true
    B:"potion of strength"=true
    B:"potion of swiftness"=true
    B:"potion of weakness"=true
    B:pyrotheum=true
    B:redstone=true
    B:refinedfuel=true
    B:sewage=true
    B:silver.molten=true
    B:slickwater=true
    B:slime.blue=true
    B:sludge=true
    B:steam=true
    B:steel.molten=true
    B:stone.seared=true
    B:tin.molten=true
    B:toxicwaste=true
    B:uumatter=true
    B:water=true
    B:yellorium=true
}


