# Configuration file

####################
# block
####################

block {
    I:MolecularTransformerID=430
    I:blockID=431
}


####################
# general
####################

general {
    I:AdvGenDay=8
    I:AdvGenNight=1
    I:AdvOutput=32
    I:AdvStorage=32000
    I:HybGenDay=64
    I:HybGenNight=8
    I:HybOutput=128
    I:HybStorage=100000
    I:UltHybGenDay=512
    I:UltHybGenNight=64
    I:UltOutput=512
    I:UltStorage=1000000
}


####################
# items
####################

items {
    I:advSolarHelmetID=30320
    I:hybridSolarHelmetID=30321
    I:itemsID=30319
    I:ultimateSolarHelmetID=30322
}


####################
# quantum generator
####################

"quantum generator" {
    I:"Quantum generator default maximum packet size"=512
    I:"Quantum generator default production"=512
}


####################
# recipes settings
####################

"recipes settings" {
    B:"Disable Advanced Solar Helmet recipe"=false
    B:"Disable AdvancedSolarPanel recipe"=false
    B:"Disable DoubleSlab recipe"=false
    B:"Disable Hybrid Solar Helmet recipe"=false
    B:"Disable HybridSolarPanel recipe"=false
    B:"Disable MolecularTransformer recipe"=false
    B:"Disable Ultimate Solar Helmet recipe"=false
    B:"Disable UltimateSolarPanel recipe"=false
    B:"Enable hard recipes"=true
    B:"Enable simple Advanced Solar Panel recipe"=false
}


