# Configuration file

####################
# general
####################

general {
    B:"Centrifuge Extractor Enabled"=true
    B:"Rotary Macerator Enabled"=true
    B:"Singularity Compressor Enabled"=true

    # Advanced Machines will draw X times the normal machines power
    D:machinePowerDrawFactor=3.0

    # Advanced Machines will reach X times the speed of normal machines
    I:maxMachineSpeedUpFactor=10

    # Advanced Machines will take X ingame ticks to reach max speed
    I:maxMachineSpeedUpTicks=10000
}


####################
# ids
####################

ids {
    I:AdvancedMachineBlock=200
    I:guiIdCentrifuge=42
    I:guiIdRotary=40
    I:guiIdSingularity=41
}


