# Configuration file

####################
# block
####################

block {
    I:Bookcase=2343
    I:Desk=2344
    I:DisplayCaseSet0=2345
    I:Label=2353
    I:MapFrame=2372
    I:PotionShelf=2346
    I:Seat=2371
    I:Shelf=2347
    I:Table=2348
    I:ToolRack=2349
}


####################
# item
####################

item {
    I:SeatBack=22319
    I:SeatBack2=22320
    I:SeatBack3=22321
    I:SeatBack4=22322
    I:SeatBack5=22323
}


