# Configuration file

####################
# block
####################

block {
    I:"botania:altar"=2210
    I:"botania:distributor"=2211
    I:"botania:enchanter"=2212
    I:"botania:flower"=2213
    I:"botania:livingrock"=2214
    I:"botania:livingwood"=2215
    I:"botania:manaBeacon"=2216
    I:"botania:manaDetector"=2217
    I:"botania:manaVoid"=2218
    I:"botania:pistonRelay"=2219
    I:"botania:pool"=2220
    I:"botania:pylon"=2221
    I:"botania:runeAltar"=2222
    I:"botania:specialFlower"=2223
    I:"botania:spreader"=2224
    I:"botania:turntable"=2225
    I:"botania:unstableBlock"=2226
}


####################
# general
####################

general {
    # Set to false to disable the wireframe when looking a block bound to something (spreaders, flowers, etc).
    B:boundBlock.wireframe.enabled=true

    # Set to false to disable the rotating items in the petal and rune entries in the Lexica Botania.
    B:lexicon.enable.rotatingItems=true

    # Set to false to disabled the animated 3D render for the lexica botania
    B:lexicon.render.3D=true

    # Set to false to remove the overriding of vanilla blocks (snow, red and yellow flowers). Setting this to false will remove the snow on flowers tweak.
    B:override.vanillaBlocks=false

    # Set to true to set the power system's particles to be a lot more subtle. Good for low-end systems, if the particles are causing lag.
    B:powerSystem.subtle=false

    # Set to true to use a static wand beam that shows every single position of the burst, similar to the way it used to work on old botania versions. Warning: Disabled by default because it may be laggy.
    B:wandBeam.static=false
    I:worldgen.flower.density=10
    I:worldgen.flower.quantity=2
}


####################
# item
####################

item {
    I:"botania:dye"=19557
    I:"botania:lens"=19562
    I:"botania:lexicon"=19555
    I:"botania:manaCookie"=19568
    I:"botania:manaGun"=19567
    I:"botania:manaPetal"=19563
    I:"botania:manaResource"=19560
    I:"botania:manaTablet"=19566
    I:"botania:pestleAndMortar"=19558
    I:"botania:petal"=19556
    I:"botania:rune"=19564
    I:"botania:signalFlare"=19565
    I:"botania:twigWand"=19559
}


