# Configuration file

####################
# "allow ctm"
####################

""allow ctm"" {
    B:"A metal plate with almost no rust on it"=true
    B:"Abandoned bookshelf"=true
    B:"Arranged marble tiles"=true
    B:"Black carpet"=true
    B:"Black carpet block"=true
    B:"Bookshelf filled to brim with boring pastel books"=true
    B:"Bookshelf with rainbow colored books"=true
    B:"Bookshelf with red tomes"=true
    B:"Borderless glass"=true
    B:"Brown carpet"=true
    B:"Brown carpet block"=true
    B:"Bubble glass"=true
    B:"Cobblestone with dark panel"=true
    B:"Cobblestone with dent"=true
    B:"Cobblestone with panel"=true
    B:"Concrete block"=true
    B:"Convex marble pillar"=true
    B:"Crumbling dirt"=true
    B:"Dark blue carpet"=true
    B:"Dark blue carpet block"=true
    B:"Dark grey carpet"=true
    B:"Dark grey carpet block"=true
    B:"Fancy circuit block"=true
    B:"Fancy circuit block with gold plating"=true
    B:"Fantasy block"=true
    B:"Futuristic armor plating with shining metal bits"=true
    B:"Grassy Crumbling dirt"=true
    B:"Grassy Horizontal dirt"=true
    B:"Grassy Large dirt bricks on top of dirt"=true
    B:"Grassy Reinforced cobbledirt"=true
    B:"Grassy Reinforced dirt"=true
    B:"Grassy Vertical dirt"=true
    B:"Greek marble pillar"=true
    B:"Greek marble pillar with ornate capstone"=true
    B:"Greek marble pillar with plain capstone"=true
    B:"Green carpet"=true
    B:"Green carpet block"=true
    B:"Grey carpet"=true
    B:"Grey carpet block"=true
    B:"Historician's bookshelf"=true
    B:"Hoarder's bookshelf"=true
    B:"Holystone plate"=true
    B:"Horizontal dirt"=true
    B:"Huge cobblestone tiles"=true
    B:"Large dirt bricks on top of dirt"=true
    B:"Large redstone block"=true
    B:"Light blue carpet"=true
    B:"Light blue carpet block"=true
    B:"Light glass"=true
    B:"Light green carpet"=true
    B:"Light green carpet block"=true
    B:"Magenta carpet"=true
    B:"Magenta carpet block"=true
    B:"Marble block"=true
    B:"Marble panel"=true
    B:"Marble pillar"=true
    B:"Marble with dent"=true
    B:"Marble with large dent"=true
    B:"Necromancer novice's bookshelf"=true
    B:"Necromancer's bookshelf"=true
    B:"Orange carpet"=true
    B:"Orange carpet block"=true
    B:"Orange-white hazard block"=true
    B:"Original marble pillar"=true
    B:"Ornate steel glass"=true
    B:"Pink carpet"=true
    B:"Pink carpet block"=true
    B:"Plain marble pillar"=true
    B:"Plain marble pillar with Greek capstone"=true
    B:"Plain marble pillar with ornate capstone"=true
    B:"Purple carpet"=true
    B:"Purple carpet block"=true
    B:"Red carpet"=true
    B:"Red carpet block"=true
    B:"Reinforced cobbledirt"=true
    B:"Reinforced dirt"=true
    B:"Rough marble pillar"=true
    B:"Rusty metal plate"=true
    B:"Rusty metal plate with dot pattern"=true
    B:"Rusty metal plates"=true
    B:"Rusty purple block with gold plating"=true
    B:"Sandstone mosaic"=true
    B:"Shale glass"=true
    B:"Shiny metal construction"=true
    B:"Simplistic marble pillar"=true
    B:"Smooth holystone plate"=true
    B:"Steel frame glass"=true
    B:"Stone frame glass"=true
    B:"Stone panel"=true
    B:"Sunken stone panel"=true
    B:"Teal carpet"=true
    B:"Teal carpet block"=true
    B:"Vertical dirt"=true
    B:"Very rusty metal plate"=true
    B:"Weared fantasy brick"=true
    B:"Weared fantasy bricks"=true
    B:"Weared metal column"=true
    B:"White carpet"=true
    B:"White carpet block"=true
    B:"Wide marble pillar with Greek capstone"=true
    B:"Wide marble pillar with ornate capstone"=true
    B:"Wide marble pillar with plain capstone"=true
    B:Wireframe=true
    B:"Wireframe in a shade of purple"=true
    B:"Yellow carpet"=true
    B:"Yellow carpet block"=true
    B:"Yellow-black hazard block"=true
}


####################
# block
####################

block {
    I:.woodbirch=2800
    I:.woodjungle=2801
    I:.woodoak=2802
    I:.woodspruce=2803
    I:autoChisel=2806
    I:blockDiamond=2730
    I:blockEmerald=2731
    I:blockGold=2732
    I:blockIron=2733
    I:blockLapis=2734
    I:blockLimestone=2735
    I:blockLimestoneSlab.bottom=2736
    I:blockLimestoneSlab.top=2737
    I:blockLimestoneStairs.0=2738
    I:blockLimestoneStairs.1=2739
    I:blockLimestoneStairs.2=2740
    I:blockLimestoneStairs.3=2741
    I:blockLimestoneStairs.4=2742
    I:blockLimestoneStairs.5=2743
    I:blockLimestoneStairs.6=2744
    I:blockLimestoneStairs.7=2745
    I:blockMarble=2746
    I:blockMarblePillar=2747
    I:blockMarblePillarSlab.bottom=2748
    I:blockMarblePillarSlab.top=2749
    I:blockMarbleSlab.bottom=2750
    I:blockMarbleSlab.top=2751
    I:blockMarbleStairs.0=2752
    I:blockMarbleStairs.1=2753
    I:blockMarbleStairs.2=2754
    I:blockMarbleStairs.3=2755
    I:blockMarbleStairs.4=2756
    I:blockMarbleStairs.5=2757
    I:blockMarbleStairs.6=2758
    I:blockMarbleStairs.7=2759
    I:blockRedstone=2760
    I:bookshelf=2761
    I:carpet=2762
    I:carpetFloor=2763
    I:chisel.concrete=2807
    I:chisel.fft=2808
    I:chisel.holystone=2809
    I:chisel.lavastone=2810
    I:cloud=2764
    I:concrete=2765
    I:dirt=2766
    I:factory=2767
    I:fenceIron=2768
    I:fft=2769
    I:glass=2804
    I:grass=2811
    I:hellrock=2770
    I:holystone=2771
    I:ice=2805
    I:icePillar=2772
    I:iceStairs.0=2773
    I:iceStairs.1=2774
    I:iceStairs.2=2775
    I:iceStairs.3=2776
    I:iceStairs.4=2777
    I:iceStairs.5=2778
    I:iceStairs.6=2779
    I:iceStairs.7=2780
    I:lavastone=2781
    I:lightgem=2782
    I:netherBrick=2783
    I:null=2784
    I:obsidian=2785
    I:roadLine=2786
    I:sandSnakestone=2787
    I:sandStone=2788
    I:sandstoneScribbles=2789
    I:snakestone=2791
    I:snakestoneObsidian=2792
    I:stoneMoss=2793
    I:stonebrick=2794
    I:stonebricksmooth=2795
    I:temple=2796
    I:templeMossy=2797
    I:thinGlass=2798
    I:tyrian=2799
}


####################
# general
####################

general {
    # Changes pane rendering algorithm a bit.
    B:"Add panes"=true

    # Adds the variations of vanilla blocks to the ore dictionary if possible
    B:"Add to ore dictionary"=false

    # Use alternative crafting recipe for the chisel
    B:"Alternative recipe"=false

    # Should Chisel Grass spread to Chisel Dirt
    B:"Chisel Grass Spread"=true

    # Flips the Recipie for mod compatiblity
    B:"Flip Chisel Recipe"=false

    # If true,chisels now have limited uses and no longer instantly break chisel blocks
    B:Hardmode=false

    # Set to true to allow vertically connected textures to rotate and connect on the horizonal if connected on the horizontal
    B:"Rotate vertical connected textures"=true

    # Amount of limestone to generate in the world; use 0 for none
    I:"Worldgen limestone amount"=0

    # Amount of marble to generate in the world; use 0 for none
    I:"Worldgen marble amount"=6

    # Traversing concrete roads, players will acceleration to this velocity. For reference, normal running speed is about 0.28. Set to 0 to disable acceleration.
    D:"concrete velocity"=0.45

    # Disable connected textures
    B:"disable connected textures"=false

    # Some blocks, like bookshelves and ice will not get overridden using "override vanilla blocks" setting. Set this to true to disable all overriding.
    B:"disable overriding blocks"=true

    # Reworks ice blocks to drop Ice shards when destroyed
    B:"ice drops ice shards"=true

    # Use old pillar textures
    B:"old pillar graphics"=false

    # If true, will override vanilla blocks with their chisel variations. If false, will create one new chiseled block for each vanilla block that can be chiseled.
    B:"override vanilla blocks"=false

    # Particle tick rate. Greater value = less particles. A value of -1 will turn off particles.
    I:"particle tickrate"=1

    # Make variations of blocks have the same name, and use the description in tooltip to distinguish them.
    B:"use block descriptions in tooltips"=true

    # Add a new tab in creative mode and put all blocks that work with chisel there.
    B:"use custom creative tab"=true
}


####################
# item
####################

item {
    I:ballOMoss=7814
    I:chisel=7811
    I:cloudInABottle=7813
    I:iceshard=7812
}


####################
# tweaks
####################

tweaks {
    # Unlocalized name of the block that, when burned, will produce concrete (examples: lightgem, stone)
    S:"concrete recipe block"=gravel
}


