# Configuration file

####################
# block
####################

block {
    I:bogBowl=3551
    I:dogBed=3550
}


####################
# doggysettings
#===================
# Here you can change details about your dog.
####################

doggysettings {
    # If set to false it means you dog can never die and will be in incpasitated mode. If set to true you dogs will die one there health = 0.
    B:allowPermaDeath=false

    # Default is 10, higher the number the slow the dogs bark. Lower the number the faster the dogs bark.
    I:barkRate=10

    # If true then a dog is Incapacitated they will have blood on them
    B:bloodWhenIncapacitated=true

    # When false there will be portal particles if your dog is dire level 30, otherwise no dire particals.
    B:direParticalsOff=false
    B:isHungerOn=true

    # When enabled you will spawn with a guide, Doggy Charm and Command Emblem.
    B:isStartingItemsEnabled=true

    # Do you pups take 10 days the grow.
    B:tenDayPuppies=true
}


####################
# item
####################

item {
    I:breedingBone=12557
    I:collarShears=12558
    I:commandEmblem=12552
    I:direTreat=12556
    I:dogOwnersManuel=12550
    I:doggyCharm=12559
    I:masterTreat=12555
    I:superTreat=12554
    I:throwBone=12551
    I:trainingTreat=12553
}


