# Configuration file

####################
# block
####################

block {
    I:BlockController=3740
    I:BlockDangerousFlower=3741
    I:BlockDangerousSappling=3742
    I:BlockDuct=3743

    # MysticDirt ID must be bellow 256 as it is used in terrain generation.
    I:BlockMysticDirt=249
    I:BlockMysticLeaf=3744
    I:BlockMysticPlanks=3745
    I:BlockMysticWood=3746
    I:BlockTank=3747
    I:BlockUpgrade=3748
    I:DimExt=3749
    I:LiquidPotion=3750
    I:TankCore=3751
    I:TankSub=3752
    I:clense=3753
    I:fire=3754
    I:fluidTNT=3755
    I:harming=3756
    I:healing=3757
    I:invis=3758
    I:night=3759
    I:poison=3760
    I:potion=3761
    I:regen=3762
    I:slow=3763
    I:strength=3764
    I:swift=3765
    I:water=3766
    I:weak=3767
}


####################
# general
####################

general {
    B:Particles=true
    B:colorBlindFriendly=false
    B:"enable fluids"=true
    B:oldRecipes=false
    B:"terrain gen"=true
}


####################
# item
####################

item {
    I:Buckets=16717
    I:Chalice=16718
    I:Chipset=16719
    I:Hammer=16713
    I:"Iron Mass"=16714
    I:"Link Card"=16720
    I:"Softened Diamond"=16716
    I:"Softened Diamond Mass"=16715
    I:Upgrades=16712
}


