# Configuration file

####################
# both
#===================
# Settings controlled by both.
# Client can be different from server.
# If client differs from server, server can disable client's setting if false.
####################

both {
    B:useMod=true
}


####################
# client
#===================
# Settings controlled client.
# Can vary from server to server.
####################

client {
    B:hasParticles=true
}


####################
# enchantments
#===================
# Enchantments can be disabled to be enchantable in the table.
# Controlled on the server side
####################

enchantments {
    B:"Cold Touch"=true
    S:"Cold Touch-ToolTip"=
    B:Magnetization=true
    S:Magnetization-ToolTip=
    B:Reading=true
    S:Reading-ToolTip=
    B:enchantment.NaturalAbsorption.absorb=true
    S:enchantment.NaturalAbsorption.absorb-ToolTip=
    B:enchantment.appealing=true
    S:enchantment.appealing-ToolTip=
    B:enchantment.arrowDamage=true
    S:enchantment.arrowDamage-ToolTip=Increases damage
    B:enchantment.arrowFire=true
    S:enchantment.arrowFire-ToolTip=Flaming arrows
    B:enchantment.arrowInfinite=true
    S:enchantment.arrowInfinite-ToolTip=Shooting consumes no arrows
    B:enchantment.arrowKnockback=true
    S:enchantment.arrowKnockback-ToolTip=Increases knockback
    B:enchantment.barbedHook=true
    S:enchantment.barbedHook-ToolTip=
    B:enchantment.betterstorage.key.lockpicking=true
    S:enchantment.betterstorage.key.lockpicking-ToolTip=
    B:enchantment.betterstorage.key.morphing=true
    S:enchantment.betterstorage.key.morphing-ToolTip=
    B:enchantment.betterstorage.key.unlocking=true
    S:enchantment.betterstorage.key.unlocking-ToolTip=
    B:enchantment.betterstorage.lock.persistance=true
    S:enchantment.betterstorage.lock.persistance-ToolTip=
    B:enchantment.betterstorage.lock.security=true
    S:enchantment.betterstorage.lock.security-ToolTip=
    B:enchantment.betterstorage.lock.shock=true
    S:enchantment.betterstorage.lock.shock-ToolTip=
    B:enchantment.betterstorage.lock.trigger=true
    S:enchantment.betterstorage.lock.trigger-ToolTip=
    B:enchantment.blink=true
    S:enchantment.blink-ToolTip=
    B:enchantment.clock=true
    S:enchantment.clock-ToolTip=
    B:enchantment.damage.all=true
    S:enchantment.damage.all-ToolTip=Extra damage
    B:enchantment.damage.arthropods=true
    S:enchantment.damage.arthropods-ToolTip=Extra damage to spiders, cave spiders and silverfish
    B:enchantment.damage.undead=true
    S:enchantment.damage.undead-ToolTip=Extra damage to undead mobs
    B:enchantment.digging=true
    S:enchantment.digging-ToolTip=Faster resource gathering while in use
    B:enchantment.doubleHook=true
    S:enchantment.doubleHook-ToolTip=
    B:enchantment.durability=true
    S:enchantment.durability-ToolTip=Increases durability
    B:enchantment.fall=true
    S:enchantment.fall-ToolTip=
    B:enchantment.fire=true
    S:enchantment.fire-ToolTip=Lights the target on fire
    B:enchantment.fireResistance=true
    S:enchantment.fireResistance-ToolTip=
    B:enchantment.flight=true
    S:enchantment.flight-ToolTip=
    B:enchantment.frugal=true
    S:enchantment.frugal-ToolTip=Wand equivalent of unbreaking.
    B:enchantment.glide=true
    S:enchantment.glide-ToolTip=
    B:enchantment.haste=true
    S:enchantment.haste-ToolTip=Usable on boots and the Thaumostatic Harness only. Makes you move faster. Very effective on Boots of the Traveller, or the Thaumostatic Harness.
    B:enchantment.health=true
    S:enchantment.health-ToolTip=
    B:enchantment.heavyLine=true
    S:enchantment.heavyLine-ToolTip=
    B:enchantment.hungry=true
    S:enchantment.hungry-ToolTip=
    B:enchantment.jump=true
    S:enchantment.jump-ToolTip=
    B:enchantment.knockback=true
    S:enchantment.knockback-ToolTip=Increases knockback
    B:enchantment.longCast=true
    S:enchantment.longCast-ToolTip=
    B:enchantment.lootBonus=true
    S:enchantment.lootBonus-ToolTip=Mobs can drop more loot
    B:enchantment.lootBonusDigger=true
    S:enchantment.lootBonusDigger-ToolTip=Increases the drop rate of items from blocks
    B:enchantment.magicresist=true
    S:enchantment.magicresist-ToolTip=
    B:enchantment.magnetic=true
    S:enchantment.magnetic-ToolTip=
    B:enchantment.oneRing=true
    S:enchantment.oneRing-ToolTip=
    B:enchantment.oxygen=true
    S:enchantment.oxygen-ToolTip=Decreases the rate of air loss underwater; increases time between damage while suffocating and drowning
    B:enchantment.poison=true
    S:enchantment.poison-ToolTip=
    B:enchantment.potency=true
    S:enchantment.potency-ToolTip=Increases damage or range that wands have.
    B:enchantment.protect.all=true
    S:enchantment.protect.all-ToolTip=Reduces damage from all sources
    B:enchantment.protect.explosion=true
    S:enchantment.protect.explosion-ToolTip=Protection against explosion damage; reduces explosion recoil
    B:enchantment.protect.fall=true
    S:enchantment.protect.fall-ToolTip=Protection against fall damage
    B:enchantment.protect.fire=true
    S:enchantment.protect.fire-ToolTip=Protection against fire damage; fire is extinguished faster
    B:enchantment.protect.projectile=true
    S:enchantment.protect.projectile-ToolTip=Protection against damage from projectile entities
    B:enchantment.punch=true
    S:enchantment.punch-ToolTip=
    B:enchantment.repair=true
    S:enchantment.repair-ToolTip=Consumes vis from the local aura to repair the item with this enchantment
    B:enchantment.restore=true
    S:enchantment.restore-ToolTip=
    B:enchantment.resurrection=true
    S:enchantment.resurrection-ToolTip=
    B:enchantment.shortCast=true
    S:enchantment.shortCast-ToolTip=
    B:enchantment.soulbound=true
    S:enchantment.soulbound-ToolTip=
    B:enchantment.speed=true
    S:enchantment.speed-ToolTip=
    B:enchantment.spiderman=true
    S:enchantment.spiderman-ToolTip=
    B:enchantment.tfFireReact=true
    S:enchantment.tfFireReact-ToolTip=
    B:enchantment.thorns=true
    S:enchantment.thorns-ToolTip=Chance of dealing damage to mobs or players attacking the wearer
    B:"enchantment.ttinkerer:ascentBoost"=true
    S:"enchantment.ttinkerer:ascentBoost-ToolTip"=
    B:"enchantment.ttinkerer:autoSmelt"=true
    S:"enchantment.ttinkerer:autoSmelt-ToolTip"=
    B:"enchantment.ttinkerer:desintegrate"=true
    S:"enchantment.ttinkerer:desintegrate-ToolTip"=
    B:"enchantment.ttinkerer:quickDraw"=true
    S:"enchantment.ttinkerer:quickDraw-ToolTip"=
    B:"enchantment.ttinkerer:slowFall"=true
    S:"enchantment.ttinkerer:slowFall-ToolTip"=
    B:"enchantment.ttinkerer:vampirism"=true
    S:"enchantment.ttinkerer:vampirism-ToolTip"=
    B:enchantment.untouching=true
    S:enchantment.untouching-ToolTip=Mined blocks will drop themselves instead of the item(s) it should drop
    B:enchantment.wandfortune=true
    S:enchantment.wandfortune-ToolTip=
    B:enchantment.waterWorker=true
    S:enchantment.waterWorker-ToolTip=Increases underwater mining rate
}


####################
# ids
####################

ids {
    I:AdvancedEnchantmentTable=3050
    I:EnchantmentTableUpgradte=10205
}


####################
# server
#===================
# Settings controlled by server.
####################

server {
    B:AllowDisenchanting=true
    B:AllowEnchantDamaged=true
    B:AllowRepair=true
    I:CostFactor=5
    B:"Disenchant Unowned"=false
    I:RepairFactor=5
    B:hasLight=true
    I:minimumBook=5
    B:needsBookShelves=true
}


####################
# version
####################

version {
    S:SeenVersion=1.16.5
}


