# Configuration file

####################
# block
####################

block {
    # ID for the Fluid Export Bus
    I:BusFluidExport_ID=2064

    # ID for the Fluid Import Bus
    I:BusFluidImport_ID=2065

    # ID for the Fluid Storage Bus
    I:BusFluidStorage_ID=2066

    # ID for the ME Certus Tank
    I:CertusTank_ID=2053

    # ID for the Fluid Transition Plance
    I:FluidTransitionPlane_ID=2054

    # ID for the Blast Resistant ME Drive
    I:HardMEDrive_ID=2055

    # ID for the ME Fluid Interface
    I:InterfaceFluid_ID=2056

    # ID for the ME Fluid Level Emitter
    I:LevelEmitterFluid_ID=2057

    # ID for the ME Backup Battery
    I:MEBattery_ID=2058

    # ID for the ME Item Dropper
    I:MEDropper_ID=2059

    # ID for the soldering station
    I:SolderingStation_ID=2060

    # ID for the Fluid Storage Terminal
    I:TerminalFluid_ID=2061

    # ID for the ME Fluid Void
    I:VoidFluid_ID=2062

    # ID for the Walrus
    I:Walrus_ID=2063
}


####################
# dev options
####################

"dev options" {
    # Dont't activate if you dont want to debug stuff ;)
    B:showFluidsInMETerminal=false
}


####################
# item
####################

item {
    # ID for the advanced storage casing
    I:AdvancedStorageCasing_ID=4146

    # ID for the decrypted storage cell
    I:Cell_Decrypted_ID=4143

    # ID for the encrypted storage cell
    I:Cell_Encrypted_ID=4142

    # ID for the storage clusters (crafting)
    I:Cluster_ID=4141

    # ID for the item used for displaying fluids in the terminal and storing them in the ME Network
    I:FluidDisplayItem_ID=4147

    # ID for the fluid storage cells
    I:StorageFluid_ID=4145

    # ID for the physical storage cells
    I:StoragePhysical_ID=4140
}


