# Configuration file

####################
# Block IDs
####################

"Block IDs" {
    I:"Carriage Drives"=1105
    I:Carriages=1106
    I:"Motive Spectre"=1107
}


####################
# Carriage
####################

Carriage {
    S:Blacklist=
    B:"Carriages refuse to move bedrock (DANGEROUS IF FALSE)"=true
    B:"Carriages refuse to move blocks that pistons cannot move"=false
    I:"Maximum blocks carried by a support carriage"=5000
    I:"Maximum blocks carried by platform carriage"=5000
    I:"Maximum size of any carriage (0 = no limit)"=0
}


####################
# Carriage Drive
####################

"Carriage Drive" {
    I:"Cooldown (in ticks) between motions in continuous mode"=5
}


####################
# Carriage Motion
####################

"Carriage Motion" {
    B:"Animation of motion should stop even during severe lag"=false
    B:"Carriage motion is obstructed by fragile blocks like tall grass"=false
    B:"Carriage motion is obstructed by liquids"=false
    I:"Duration of motion in ticks"=20
    I:"Duration of translocation in ticks"=160
    B:"Should grab all other miscellaneous entities during motion"=true
    B:"Should grab floating items during motion"=true
    B:"Should grab non-player living entities during motion"=true
    B:"Should grab players during motion"=true
    B:"Should translocate grabbed entities"=true
}


####################
# Cosmetics
####################

Cosmetics {
    B:"Show descriptions of purposes/uses of blocks/items in tooltips"=true
}


####################
# Debugging
####################

Debugging {
    B:"Write carriage-motion errors to client/server log"=false
}


####################
# Dirty Hacks
####################

"Dirty Hacks" {
    B:"Attempt to hyper-reinitialize Buildcraft pipes after motion"=true
}


####################
# Item IDs
####################

"Item IDs" {
    I:"Simple Items"=10979
    I:Tools=10780
}


####################
# Texture Sets
#===================
# 0 - default 256x textures
# 1 - 16x textures by cubemelon
# 2 - 16x textures (with support for colourblindness) by JustHev
# 3 - 16x wood-style textures by uberifix
# 4 - 16x metal-style textures (with support for colourblindness) by uberifix
# 5 - 16x Dynasty-style textures by Lethosos
####################

"Texture Sets" {
    I:"Index of texture set"=0
}


