# Configuration file

####################
# block
####################

block {
    I:BasicBlock=2440
    I:BasicBlock2=2453
    I:BoundingBlock=2442
    I:CardboardBox=2454
    I:EnergyCube=2444
    I:GasTank=2445
    I:Generator=2446
    I:MachineBlock=2447
    I:MachineBlock2=2448
    I:ObsidianTNT=2449
    I:OreBlock=2450
    I:Transmitter=2452
}


####################
# general
####################

general {
    B:AllowSpawnerBoxPickup=true
    I:ClientUpdateDelay=10
    B:ControlCircuitOreDict=false
    I:CopperGenerationAmount=0
    B:CopperGenerationEnabled=false
    B:DisableBCBronzeCrafting=true
    B:DisableBCSteelCrafting=true
    B:DynamicTankEasterEgg=false
    D:EUToJoules=0.1
    B:EnableSounds=true
    I:EnergyPerRedstone=10000
    S:EnergyType=RF
    B:FancyUniversalCableRender=true
    B:ForceBuildcraftPower=true
    B:Holidays=true
    I:JoulesToEU=11
    I:JoulesToMJ=28
    B:LogPackets=false
    D:MJToJoules=0.04
    I:ObsidianTNTBlastRadius=12
    I:ObsidianTNTDelay=100
    I:OsmiumGenerationAmount=8
    B:OsmiumGenerationEnabled=false
    B:OverrideUERatios=true
    I:SoundVolume=1
    I:TinGenerationAmount=0
    B:TinGenerationEnabled=false
    B:UpdateNotifications=true
    I:UpgradeModifier=10
    I:VoicePort=36123
    B:VoiceServerEnabled=false
}


####################
# generation
####################

generation {
    I:AdvancedSolarGeneration=40
    I:BioGeneration=100
    I:HeatGeneration=5
    I:HydrogenGeneration=200
    I:SolarGeneration=10
    I:WindGeneration=18
}


####################
# item
####################

item {
    I:AtomicCore=10794
    I:AtomicDisassembler=10795
    I:Balloon=10885
    I:BioFuel=10796
    I:BrineBucket=10886
    I:Clump=10807
    I:CompressedCarbon=10808
    I:CompressedRedstone=10887
    I:Configurator=10809
    I:ControlCircuit=10810
    I:Crystal=10888
    I:Dictionary=10812
    I:DirtyDust=10813
    I:Dust=10814
    I:ElectricBow=10815
    I:ElectrolyticCore=10816
    I:EnergyTablet=10817
    I:EnergyUpgrade=10818
    I:EnrichedAlloy=10819
    I:EnrichedIron=10820
    I:GasMask=10889
    I:Ingot=10832
    I:ItemProxy=10834
    I:Jetpack=10835
    I:MultipartTransmitter=10890
    I:NetworkReader=10846
    I:PortableTeleporter=10867
    I:Robit=10868
    I:Salt=10891
    I:Sawdust=10892
    I:ScubaTank=10893
    I:Shard=10894
    I:SolarPanel=10869
    I:SpeedUpgrade=10870
    I:TeleportationCore=10882
    I:WalkieTalkie=10883
}


####################
# usage
####################

usage {
    D:ChemicalCrystalizerUsage=400.0
    D:ChemicalDissolutionChamberUsage=400.0
    D:ChemicalInfuserUsage=200.0
    D:ChemicalInjectionChamberUsage=400.0
    D:ChemicalWasherUsage=200.0
    I:CombinerUsage=75
    I:CrusherUsage=30
    I:DigitalMinerUsage=500
    I:ElectrolyticSeparatorUsage=55
    I:EnergizedSmelterUsage=18
    I:EnrichmentChamberUsage=45
    I:FactoryUsage=150
    I:MetallurgicInfuserUsage=60
    I:OsmiumCompressorUsage=75
    D:OxidationChamberUsage=200.0
    D:PrecisionSawmillUsage=9.0
    I:PurificationChamberUsage=130
    I:RotaryCondensentratorUsage=75
}


