#Configuration file for adding microblock materials for aesthetic blocks added by mods
#Each line needs to be of the form <ID>:<meta>
#<ID> may be a numerical id or the unlocalised name of the block/item enclosed in double quotes. NEI can help you find these
#<meta> may be ommitted, in which case it defaults to 0, otherwise it can be a number, a comma separated list of numbers, or a dash separated range
#Ex. 3. 5:3. 213:1,2,3,5. "tile.blockIron":0-15
3004:0-5
3003:0-5
1416
1423
196
199:0-4
195
3174:0-8
4072:0-15
1649:0-1
1653
1652
1609:0-15
1610:0-15
1629:0-15
1671:0-15
908:0-15
907:0-15
906:0-15
905:0-15
904:0-15
903:0-15
902:0-15
901:0-15
900:2-15
470
468
473
467
475
471
466
469
