# Configuration file

####################
# block
####################

block {
    # The id of the glasses bridge
    I:blockGlassesBridgeId=580

    # The id of the pim block
    I:blockPIMId=582

    # The id of the peripheral proxy
    I:blockPeripheralProxyId=581

    # The id of the sensor block
    I:blockSensorId=584

    # The id of the ticket machine block
    I:blockTicketMachineId=583
}


####################
# blocks
####################

blocks {
    I:bridgeId=580
    I:playerInventoryId=582
    I:proxyBlockId=581
    I:robotBlockId=585
    I:sensorBlockId=584
    I:ticketMachineId=583
}


####################
# item
####################

item {
    # The id of the generic item
    I:itemGenericId=1057

    # The id of the glasses
    I:itemGlassesId=1055
}


####################
# items
####################

items {
    I:genericItemId=1057
    I:glassesId=1055
    I:remoteId=1056
    I:robotItemId=1058
}


####################
# misc
####################

misc {
    # Should turtles with OPA updates be visible in creative
    B:addTurtlesToCreative=true
}


####################
# sensor
####################

sensor {
    # 
    I:normalRange=5

    # 
    I:rangeInStorm=5
}


