# Configuration file

####################
# block
####################

block {
    I:DebugBlock=955
    I:FluidMixture=956
    I:armbot=957
    I:battery=950
    I:contractor=951
    I:conveyorBelt=958
    I:crate=959
    I:detector=960
    I:encoder=961
    I:engineeringTable=962
    I:filter=979
    I:firebox=963
    I:generator=964
    I:grate=965
    I:grindingWheel=952
    I:hotPlate=966
    I:imprinter=967
    I:levitator=968
    I:machinePart=953
    I:manipulator=969
    I:material=977
    I:mixer=978
    I:pump=970
    I:purifier=971
    I:rejector=972
    I:solarPanel=973
    I:tank=974
    I:tesla=954
    I:turntable=976
}


####################
# enabled_list
####################

enabled_list {
    B:"Enabled BlockArmbot"=true
    B:"Enabled BlockBattery"=true
    B:"Enabled BlockConveyorBelt"=true
    B:"Enabled BlockCrate"=true
    B:"Enabled BlockDebug"=true
    B:"Enabled BlockDetector"=true
    B:"Enabled BlockEncoder"=true
    B:"Enabled BlockEngineeringTable"=true
    B:"Enabled BlockFilter"=true
    B:"Enabled BlockFirebox"=true
    B:"Enabled BlockGenerator"=true
    B:"Enabled BlockGrate"=true
    B:"Enabled BlockGrinderWheel"=true
    B:"Enabled BlockHotPlate"=true
    B:"Enabled BlockImprinter"=true
    B:"Enabled BlockLevitator"=true
    B:"Enabled BlockMachineMaterial"=true
    B:"Enabled BlockMachinePart"=true
    B:"Enabled BlockManipulator"=true
    B:"Enabled BlockMixer"=true
    B:"Enabled BlockPump"=true
    B:"Enabled BlockPurifier"=true
    B:"Enabled BlockRejector"=true
    B:"Enabled BlockSolarPanel"=true
    B:"Enabled BlockTank"=true
    B:"Enabled BlockTesla"=true
    B:"Enabled BlockTurntable"=true
    B:Enabled_ItemBlockImprint=true
    B:Enabled_ItemDisk=true
    B:Enabled_ItemGear=true
    B:Enabled_ItemHammer=true
    B:Enabled_ItemMultimeter=true
    B:Enabled_ItemPipe=true
    B:Enabled_ItemPipeGauge=true
    B:Enabled_ItemTransformer=true
    B:Enabled_ItemWire=true
}


####################
# general
####################

general {
    D:"Contractor Item Acceleration"=0.02
    I:"Contractor Item Push Delay"=5
    I:"Contractor Max Item Reach"=40
    D:"Contractor Max Item Speed"=0.2
    I:"Furnace Wattage Per Tick"=50000
    I:"Max EM Contractor Path"=200
    B:"Replace vanilla furnace"=true
    B:"Shiny silver wires"=true
    B:"Tesla Sound FXs"=true
    B:"Use lo-fi insulation texture"=false
}


####################
# item
####################

item {
    I:PipeGuage=20150
    I:disk=20164
    I:dust=20151
    I:gear=20152
    I:hammer=20163
    I:imprint=20153
    I:linker=20154
    I:multimeter=20155
    I:oreDust=20156
    I:oreRefinedDust=20157
    I:oreRubble=20158
    I:pipe=20159
    I:pipeGauge=20162
    I:transformer=20160
    I:wire=20161
}


