# Configuration file

####################
# block
####################

block {
    I:battery=950
    I:contractor=951
    I:grindingWheel=952
    I:machinePart=953
    I:tesla=954
}


####################
# general
####################

general {
    D:"Contractor Item Acceleration"=0.02
    I:"Contractor Item Push Delay"=5
    I:"Contractor Max Item Reach"=40
    D:"Contractor Max Item Speed"=0.2
    I:"Furnace Wattage Per Tick"=50000
    I:"Max EM Contractor Path"=200
    B:"Replace vanilla furnace"=true
    B:"Shiny silver wires"=true
    B:"Tesla Sound FXs"=true
    B:"Use lo-fi insulation texture"=false
}


####################
# item
####################

item {
    I:dust=20154
    I:linker=20150
    I:multimeter=20152
    I:transformer=20153
    I:wire=20151
}


