# Configuration file

####################
# clientonly
####################

clientonly {
    # The reason this is disabled by default is due to rendering issues that may occur due to some boss' unique models.
    # Good examples are the Minecraft's Ender Dragon, and TwilightForest's Naga and Hydra.
    # 
    # 0 = No
    # 1 = Yes
    # 
    # Min: 0
    # Max: 1
    I:enableBossShatter=0

    # The reason this is disabled by default is due to rendering issues that occur due to the way Minecraft rescales children.
    # Shattering child mobs will show an adult model.
    # 
    # 0 = No
    # 1 = Yes
    # 
    # Min: 0
    # Max: 1
    I:enableChildShatter=0

    # Enable Shatter on Players?.
    # 
    # 0 = No
    # 1 = Yes
    # 
    # Min: 0
    # Max: 1
    I:enablePlayerShatter=1
}


