# Configuration file

####################
# block
####################

block {
    I:switch.diamond.id=1124
    I:switch.emerald.id=1123

    # Switch BlockIDs
    I:switch.gold.id=1121
    I:switch.iron.id=1122
}


