# Configuration file

####################
# block
####################

block {
    I:"id_tile.ttinkerer:animationTablet"=2622
    I:"id_tile.ttinkerer:aspectAnalyzer"=2629
    I:"id_tile.ttinkerer:darkQuartz"=2615
    I:"id_tile.ttinkerer:darkQuartzSlab"=2616
    I:"id_tile.ttinkerer:darkQuartzSlabFull"=2617
    I:"id_tile.ttinkerer:darkQuartzStairs"=2618
    I:"id_tile.ttinkerer:dislocator"=2627
    I:"id_tile.ttinkerer:enchanter"=2625
    I:"id_tile.ttinkerer:funnel"=2626
    I:"id_tile.ttinkerer:gaseousLight"=2620
    I:"id_tile.ttinkerer:gaseousShadow"=2621
    I:"id_tile.ttinkerer:interface"=2619
    I:"id_tile.ttinkerer:magnet"=2624
    I:"id_tile.ttinkerer:nitorGas"=2623
    I:"id_tile.ttinkerer:repairer"=2628
}


####################
# enchantments
####################

enchantments {
    I:"id_enchant.ttinkerer:ascentBoost"=220
    I:"id_enchant.ttinkerer:autoSmelt"=222
    I:"id_enchant.ttinkerer:desintegrate"=223
    I:"id_enchant.ttinkerer:quickDraw"=224
    I:"id_enchant.ttinkerer:slowFall"=221
    I:"id_enchant.ttinkerer:vampirism"=225
}


####################
# item
####################

item {
    I:"id_item.ttinkerer:bloodSword"=22166
    I:"id_item.ttinkerer:brightNitor"=22159
    I:"id_item.ttinkerer:cleansingTalisman"=22158
    I:"id_item.ttinkerer:connector"=22151
    I:"id_item.ttinkerer:darkQuartz"=22150
    I:"id_item.ttinkerer:focusDeflect"=22169
    I:"id_item.ttinkerer:focusDislocation"=22157
    I:"id_item.ttinkerer:focusEnderChest"=22165
    I:"id_item.ttinkerer:focusFlight"=22156
    I:"id_item.ttinkerer:focusHeal"=22164
    I:"id_item.ttinkerer:focusSmelt"=22163
    I:"id_item.ttinkerer:focusTelekinesis"=22160
    I:"id_item.ttinkerer:gasRemover"=22154
    I:"id_item.ttinkerer:gaseousLight"=22152
    I:"id_item.ttinkerer:gaseousShadow"=22153
    I:"id_item.ttinkerer:infusedInkwell"=22168
    I:"id_item.ttinkerer:revealingHelm"=22167
    I:"id_item.ttinkerer:soulMould"=22161
    I:"id_item.ttinkerer:spellCloth"=22155
    I:"id_item.ttinkerer:xpTalisman"=22162
}


