# Configuration file

####################
# block
####################

block {
    I:"EMT Machines"=2930
    I:"EMT Solars"=2931
    I:"EMT Solars 2"=2932
    I:"Essentia Generators"=2933
    I:"Portable Node"=2935
    I:Shield=2934
}


####################
# general
####################

general {
    B:"Disable the enchanting of my items. Even if on, it will not make them be able to use the repair enchant! This is disabled by default"=true
    B:"Disable the smoke effect for the Electric/Nano/Quantum Boots of the Traveller"=false
    B:"Disable totally the nightvision ability of the Nanosuit Googles of Revealing, Quantum Googles of Revealing and of the Quantum Solar Helmet of Revealing"=false

    # This config option is to enable or disable capes for people who have them. Seriously, you shouldn't touch that unless you have another cape and it conflicts with it.
    B:"Enable showing capes"=true

    # This will augment the durablilty of the tools, and will also decrease the EU cost to 1. The tools should have the same number of uses than before.
    B:"Making the tools worth begin used in the Arcane Bore."=false
}


####################
# item
####################

item {
    I:"Broken Relic of Mjolnir"=4454
    I:"Chainsaw of the Stream"=4455
    I:"Diamond Chainsaw"=4456
    I:"Diamond Omnitool"=4457
    I:"Drill of the Rockbreaker"=4458
    I:"EMT Items"=4478
    I:"Electric Boots of the Traveller"=4459
    I:"Electric Goggles of Revealing"=4460
    I:"Electric Hoe of Growth"=4479
    I:"Electric Scribing Tools"=4461
    I:"Explosion Focus"=4462
    I:"Iron Omnitool"=4463
    I:"Kris-tmas Focus"=4464
    I:"Lightning Summoner"=4465
    I:Mjolnir=4466
    I:"Nano Boots of the Traveller"=4467
    I:"Nanosuit Goggles of Revealing"=4468
    I:"Quantum Boots of the Traveller"=4469
    I:"Quantum Goggles of Revealing"=4470
    I:"Shield Focus"=4471
    I:"Solar Helmet of Revealing"=4472
    I:"Supercharged Mjolnir"=4473
    I:"Thauium Plate"=4474
    I:"Thaumium Chainsaw"=4475
    I:"Thaumium Drill"=4476
    I:"Thaumium Omnitool"=4477
    I:"Wand Focus: Charge"=4480
}


####################
# numeric values
#===================
# The only way to change some numbers that my machines uses.
####################

"numeric values" {
    # This is the number you have to modify if you want to make the Arbor Generator yield more or less EU per unit of essentia.
    I:"Arbor Generator EU Output"=325

    # This is the number you have to modify if you want to make the Auram Generator yield more or less EU per unit of essentia.
    I:"Auram Generator EU Output"=3800
    I:"Base Time the Etheral Processor takes to process a single item in number of ticks."=400

    # This is the number you have to modify if you want to make the Compressed Solar Panel yield more or less EU per tick. Really, you shouldn't touch that, since it's pretty balanced as it is.
    I:"Compressed Solar Panel EU Output"=10

    # This is the number you have to modify if you want to make the Double Compressed Solar Panel yield more or less EU per tick. Really, you shouldn't touch that, since it's pretty balanced as it is.
    I:"Double Compressed Solar Panel EU Output"=95

    # The number of ticks the Essentia Generators wait before using 2 Essentia. If you want them to be slower, increase the number.
    I:"Essentia Generators draw rate"=90

    # This number is the chance of getting a Thaumium Ingot as a bonus when processing an item in the machine. It is 1 out of the number you will enter. The default is 1/10 chance.
    I:"Ethereal Processor Bonus"=10

    # This is the number you have to modify if you want to make the Ignis Generator yield more or less EU per unit of essentia.
    I:"Ignis Generator EU Output"=2800

    # This is the number you have to modify if you want to make the Industrial Wand Charging Station use more or less EU to charge 1 unit of Vis on your wand.
    I:"Industrial Wand Charging Station EU Consumption"=50000

    # Watch out, that goes up REALLY quickly.
    D:"Jump height for the Nano Boots of the Traveller"=0.6

    # Watch out, that goes up REALLY quickly.
    D:"Jump height for the Quantum Boots of the Traveller"=0.9

    # This is the number you have to modify if you want to make the Potentia Generator yield more or less EU per unit of essentia.
    I:"Potentia Generator EU Output"=3200

    # This is the number you have to modify if you want to make the Saxum Generator yield more or less EU per unit of essentia.
    I:"Saxum Generator Output"=75

    # Watch out, that goes up REALLY quickly.
    D:"Speed of the Nano Boots of the Traveller"=0.25

    # Watch out, that goes up REALLY quickly.
    D:"Speed of the Quantum Boots of the Traveller"=0.5

    # This is the number you have to modify if you want to make the Triple Compressed Solar Panel yield more or less EU per tick. Really, you shouldn't touch that, since it's pretty balanced as it is.
    I:"Triple Compressed Solar Panel EU Output"=975
    I:"Wand Focus: Charge production in EU/T"=64
}


####################
# research
#===================
# The only way to disable some researches. Be careful, if you disable some researches, all researches linked to it will be removed too. Really, don't touch that unless you know exactly what you are doing.
####################

research {
    B:"Air Solar Panels"=false
    B:"Arbor Generator"=false
    B:"Auram Generator"=false
    B:"Chainsaw of the Stream"=false
    B:"Compressed Solars"=false
    B:"Diamond Omnitool"=false
    B:"Drill of the Rockbreaker"=false
    B:"Earth Solar Panels"=false
    B:"Electric Boots of the Traveller"=false
    B:"Electric Googles of Revealing"=false
    B:"Electric Hoe of Growth"=false
    B:"Electric Scribing Tools"=false
    B:"Entropy Solar Panels"=false
    B:"Ethereal Processor"=true
    B:"Explosion Focus"=false
    B:"Fire Solar Panels"=false
    B:"Ignis Generator"=false
    B:"Industrial Wand Charging Station"=false
    B:"Kris-tmas Focus"=false
    B:Mjolnir=false
    B:"Nano Boots of the Traveller"=false
    B:"Nanosuit Googles of Revealing"=false
    B:Omnitool=false
    B:"Order Solar Panels"=false
    B:"Portable Node"=false
    B:"Potentia Generator"=false
    B:"Quantum Boots of the Traveller"=false
    B:"Quantum Googles of Revealing"=false
    B:"Saxum Generator"=false
    B:"Shield Block"=false
    B:"Shield Focus"=false
    B:"Solar Helmet of Revealing"=false
    B:"Supercharged Mjolnir"=false
    B:"Thaumium Chainsaw"=false
    B:"Thaumium Drill"=false
    B:"Thaumium Omnitool"=false
    B:"Tiny Piles of Uranium"=false
    B:"UU-Mater Infusion"=false
    B:"Wand Focus: Charging"=false
    B:"Water Solar Panels"=false
}


