# Configuration file

####################
# block
####################

block {
    I:"Igneous Brick ID:"=535
    I:"Igneous Cobblestone ID:"=536
    I:"Igneous Stone Brick Slab ID (full):"=537
    I:"Igneous Stone Brick Slab ID (half):"=538
    I:"Igneous Stone ID:"=539
    I:"Lignite Item ID:"=5244
    I:"Metamorphic Brick ID:"=540
    I:"Metamorphic Cobblestone ID:"=541
    I:"Metamorphic Stone Brick Slab ID (full):"=542
    I:"Metamorphic Stone Brick Slab ID (half):"=543
    I:"Metamorphic Stone ID:"=544
    I:"Sedimentary Stone ID:"=546
}


####################
# general
####################

general {
    # Warning: exponential
    I:biomeSize=45

    # Comma-separated list of dimension IDs, used only if include list is *
    S:excludeDimensionIDs=-1,1,20

    # Max height to replace stone in, usually 127; higher is slower
    I:generateHeight=200

    # Increase to make stone longer to mine. Normal is 1.5
    D:hardnessModifier=1.5

    # Comma-separated list of dimension IDs, put * to use exclude list
    S:includeDimensionIDs=*

    # Modify all recipes to include Underground Biomes blocks
    B:oreDictifyStone=true

    # Increase to make stone more resistant to explosions. Normal is 6.0
    D:resistanceModifier=6.0

    # Will cause sharp biome transitions if changed while playing the same world
    B:vanillaStoneBiomes=true

    # 0 = none; 1 = one rock; 2 = with redstone; 3 = 2x2 stone, lose 3; 4 = 2x2 stone
    I:vanillaStoneCrafting=4
}


####################
# item
####################

item {
    I:fossilPiece=5245
}


