# Configuration file

####################
# "biome specific"
####################

""biome specific"" {
    D:"Probability of Glowing Ice mushrooms on frozen caves"=0.3
    D:"Probability of Glowing mushrooms on humid/jungle caves"=0.3
    D:"Probability of iciles on frozen caves"=0.6
    D:"Probability of less generation arid caves"=0.5
    D:"Probability of more water fountains on wet caves"=0.1
    D:"Probability of sandstone stalactites on arid caves"=0.5
    D:"Probability of vines on jungle caves"=0.5
}


####################
# block
####################

block {
    I:"Decorations ID"=603
    I:"Flora ID"=602
    I:"Fossils ID"=604
    I:"Sandstone Stalactite ID"=601
    I:"Stalactite ID"=600
}


####################
# general
####################

general {
    I:"Chance for a fossil node to generate"=5
    I:"Flora light level"=5
    I:"Max height at which to generate"=80
    I:"Max length of structure generation"=8
    B:"Solid stalactites/stalgmites"=false
    B:"Stalgmites damage entities when fallen on"=false
    I:"times to attemp generating per chunk"=40
}


####################
# "non biome specific"
####################

""non biome specific"" {
    I:"Max height at wich to generate glowcaps on normal biomes"=30
    D:"Probability of Stalactites/stalagmites"=0.5
    D:"Probability of glowing mushrooms on caves"=0.1
    D:"Probability of skulls"=1.0E-4
    D:"Probability of spider webs"=0.15
    D:"Probability of vines on caves"=0.1
}


####################
# permissions
####################

permissions {
    S:"Block white list"=1,2,3,4,13,14,15,16,21,24,56,73,74,79,80,82,97,129
    S:"Dimension Blacklist"=-1,1
    B:"Generate Sandstone stalactites on arid biomes"=true
    B:"Generate flora on caves"=true
    B:"Generate stalactites on caves"=true
}


