# Configuration file

####################
# feature control
####################

"feature control" {
    B:"Control Vanilla Mobs"=false
    B:"Despawn Sauropods Naturally"=true
    B:"Despawn Sauropods On Peaceful"=false
    B:"Kobold Thievery"=true
}


####################
# item ids
####################

"item ids" {
    I:"Plains Spawn Egg ID"=24010
}


####################
# mob control
####################

"mob control" {
    B:"Enable Kobold"=true
    B:"Enable Ventoraptors"=true
    I:"Kobold Chunk Spawn Max"=3
    I:"Kobold Chunk Spawn Min"=1
    I:"Kobold Spawn Chance"=100
    I:"Kobold Spawn Chunk Limit"=4
    I:"Kobold Spawn Weight"=8
    I:"Ventoraptor Chunk Spawn Max"=3
    I:"Ventoraptor Chunk Spawn Min"=1
    I:"Ventoraptor Spawn Chance"=100
    I:"Ventoraptor Spawn Chunk Limit"=3
    I:"Ventoraptor Spawn Weight"=4
}


