# Configuration file

####################
# $global control
####################

"$global control" {
    D:"Cave Density Multiplier"=1.0
    B:"Fill Deep Caves with Lava"=true
    B:"Fill Deep Caves with Water"=false
    B:"Generate Abandoned Mineshafts"=true
    B:"Generate Dungeons"=true
    B:"Generate Strongholds"=true
    D:"Ravine Frequency Multiplier"=1.0
}


####################
# control
####################

control {
    I:"Config ID - Edit to have your config auto-deleted"=0
}


####################
# control setup
####################

"control setup" {
    B:"Console Loading Info"=true
    B:"Debug Mode"=false
    B:"Use Global Controls"=true
}


####################
# desert
####################

desert {
    D:"Cave Density Multiplier"=1.0
    B:"Fill Deep Caves with Lava"=true
    B:"Fill Deep Caves with Water"=false
    B:"Generate Abandoned Mineshafts"=true
    B:"Generate Dungeons"=true
    B:"Generate Strongholds"=true
    D:"Ravine Frequency Multiplier"=1.0
}


####################
# ender forest
####################

"ender forest" {
    D:"Cave Density Multiplier"=1.0
    B:"Fill Deep Caves with Lava"=true
    B:"Fill Deep Caves with Water"=false
    B:"Generate Abandoned Mineshafts"=true
    B:"Generate Dungeons"=true
    B:"Generate Strongholds"=true
    D:"Ravine Frequency Multiplier"=1.0
}


####################
# extreme hills
####################

"extreme hills" {
    D:"Cave Density Multiplier"=1.0
    B:"Fill Deep Caves with Lava"=true
    B:"Fill Deep Caves with Water"=false
    B:"Generate Abandoned Mineshafts"=true
    B:"Generate Dungeons"=true
    B:"Generate Strongholds"=true
    D:"Ravine Frequency Multiplier"=1.0
}


####################
# forest
####################

forest {
    D:"Cave Density Multiplier"=1.0
    B:"Fill Deep Caves with Lava"=true
    B:"Fill Deep Caves with Water"=false
    B:"Generate Abandoned Mineshafts"=true
    B:"Generate Dungeons"=true
    B:"Generate Strongholds"=true
    D:"Ravine Frequency Multiplier"=1.0
}


####################
# ice plains
####################

"ice plains" {
    D:"Cave Density Multiplier"=1.0
    B:"Fill Deep Caves with Lava"=true
    B:"Fill Deep Caves with Water"=false
    B:"Generate Abandoned Mineshafts"=true
    B:"Generate Dungeons"=true
    B:"Generate Strongholds"=true
    D:"Ravine Frequency Multiplier"=1.0
}


####################
# jungle
####################

jungle {
    D:"Cave Density Multiplier"=1.0
    B:"Fill Deep Caves with Lava"=true
    B:"Fill Deep Caves with Water"=false
    B:"Generate Abandoned Mineshafts"=true
    B:"Generate Dungeons"=true
    B:"Generate Strongholds"=true
    D:"Ravine Frequency Multiplier"=1.0
}


####################
# mushroomisland
####################

mushroomisland {
    D:"Cave Density Multiplier"=1.0
    B:"Fill Deep Caves with Lava"=true
    B:"Fill Deep Caves with Water"=false
    B:"Generate Abandoned Mineshafts"=true
    B:"Generate Dungeons"=true
    B:"Generate Strongholds"=true
    D:"Ravine Frequency Multiplier"=1.0
}


####################
# ocean
####################

ocean {
    D:"Cave Density Multiplier"=1.0
    B:"Fill Deep Caves with Lava"=true
    B:"Fill Deep Caves with Water"=false
    B:"Generate Abandoned Mineshafts"=true
    B:"Generate Dungeons"=true
    B:"Generate Strongholds"=true
    D:"Ravine Frequency Multiplier"=1.0
}


####################
# plains
####################

plains {
    D:"Cave Density Multiplier"=1.0
    B:"Fill Deep Caves with Lava"=true
    B:"Fill Deep Caves with Water"=false
    B:"Generate Abandoned Mineshafts"=true
    B:"Generate Dungeons"=true
    B:"Generate Strongholds"=true
    D:"Ravine Frequency Multiplier"=1.0
}


####################
# rainbow forest
####################

"rainbow forest" {
    D:"Cave Density Multiplier"=1.0
    B:"Fill Deep Caves with Lava"=true
    B:"Fill Deep Caves with Water"=false
    B:"Generate Abandoned Mineshafts"=true
    B:"Generate Dungeons"=true
    B:"Generate Strongholds"=true
    D:"Ravine Frequency Multiplier"=1.0
}


####################
# river
####################

river {
    D:"Cave Density Multiplier"=1.0
    B:"Fill Deep Caves with Lava"=true
    B:"Fill Deep Caves with Water"=false
    B:"Generate Abandoned Mineshafts"=true
    B:"Generate Dungeons"=true
    B:"Generate Strongholds"=true
    D:"Ravine Frequency Multiplier"=1.0
}


####################
# swampland
####################

swampland {
    D:"Cave Density Multiplier"=1.0
    B:"Fill Deep Caves with Lava"=true
    B:"Fill Deep Caves with Water"=false
    B:"Generate Abandoned Mineshafts"=true
    B:"Generate Dungeons"=true
    B:"Generate Strongholds"=true
    D:"Ravine Frequency Multiplier"=1.0
}


####################
# taiga
####################

taiga {
    D:"Cave Density Multiplier"=1.0
    B:"Fill Deep Caves with Lava"=true
    B:"Fill Deep Caves with Water"=false
    B:"Generate Abandoned Mineshafts"=true
    B:"Generate Dungeons"=true
    B:"Generate Strongholds"=true
    D:"Ravine Frequency Multiplier"=1.0
}


