# Configuration file

####################
# crafting
####################

crafting {
    B:MimichiteRecipe=true

    # the amount returned for crafting mimichite (set to 0 to remove recipe)
    I:MimichiteRecipeOutput=4
}


####################
# ids
####################

ids {
    # ID range from config to config+7(default 1030-1037)
    I:"Block ID start"=2430

    # ID range from config to config+2(default 15065-15067)
    I:"Item ID start"=27364
}


####################
# mimikinetics
####################

mimikinetics {
    # set false to disable crafting of Mimikinetic Upheaver
    B:Mimikinetics=true

    # (not meta sensitive)add blockIds for mimikinetics to ignore(checked after whitelist and supersedes whitelist)
    I:MimikineticsBlacklist <
        0
        7
     >

    # fortune level that applies to mimikinetics(Warning: this can be set higher than 3 and HOLY CRAP!)
    I:MimikineticsFortune=1

    # base max radius on mimikinetics detonation (0-16)
    I:MimikineticsRadius=16

    # (not meta sensitive)add allowed blockIds for mimikinetics to search for(checked before blacklist)
    I:MimikineticsWhitelist <
     >
}


####################
# world gen
####################

"world gen" {
    # max deposit spawn per chunk; default [8]
    I:MimichiteOreRate=8

    # max deposit spawn per chunk; default [32]
    I:MimichiteOreRateEnd=32

    # max deposit spawn per chunk; default [16]
    I:MimichiteOreRateNether=16
}


