# Configuration file

####################
# ender storage tweaks
####################

"ender storage tweaks" {
    # EnderStorage Ender Chests require tesseracts instead of ender pearls.
    B:enderChestTesseract=true

    # EnderStorage Ender Pouches require tesseracts instead of ender pearls.
    B:enderPouchTesseract=false

    # EnderStorage Ender Tanks require tesseracts instead of ender pearls.
    B:enderTankTesseract=false
}


####################
# global ars magica 2 mob spawn controls
####################

"global ars magica 2 mob spawn controls" {
    B:globallyDisableEntityDarkMage=true
    B:globallyDisableEntityDarkling=true
    B:globallyDisableEntityDryad=true
    B:globallyDisableEntityEarthElemental=true
    B:globallyDisableEntityFireElemental=true
    B:globallyDisableEntityHecate=true
    B:globallyDisableEntityLightMage=true
    B:globallyDisableEntityManaCreeper=true
    B:globallyDisableEntityManaElemental=true
    B:globallyDisableEntityWaterElemental=true
    B:globallyDisableEntityWisp=true
}


####################
# gregtech tweaks
####################

"gregtech tweaks" {
    # Lapis dust can be made from lapis using GregTech's mortars.
    B:addLapisDustMortarRecipes=true

    # Re-adds the old GregTech centrifuge recipe for platinum dust to iridium nugget + small nickel dust.
    B:doPlatinumInCentrifuge=true

    # Tinkers' Construct aluminum ore works in GregTech machines.
    B:tinkersAluminumOreInGTMachines=true

    # Tinkers' Construct aluminum ingots can make aluminum plates in the GregTech plate bending machine.
    B:tinkersAluminumPlates=true
}


####################
# item
####################

item {
    I:tppiBookId=21650
    I:tppiMaterialId=21651
}


####################
# mod downloads
####################

"mod downloads" {
    # Show the Download GUI on startup.
    B:showDownloadGUI=true
}


####################
# mod loading tweaks
####################

"mod loading tweaks" {
    # The filename for KAMI to use to check for its presence and disable/enable it automatically
    S:KAMI_filename=ThaumicTinkererKAMI_j6.jar

    # The filename for Thaumcraft4 to use to check for its presence
    S:Thaumcraft_filename=Thaumcraft4.0.5b.zip

    # The filename for Thaumic Tinkerer to use to check for its presence and disable/enable it automatically
    S:ThaumicTinkerer_filename=ThaumicTinkerer 2.1-67.jar

    # Allow this mod to disable and enable Thaumic Tinkerer automatically
    B:autoEnableTT=true
}


####################
# mps extra recipes
####################

"mps extra recipes" {
    # Changes MPSA recipes to match the MPS recipes that are in TPPI
    B:change_MPSA_recipes=true
}


####################
# options
####################

options {
    # Big Reactors fuel rods take just a touch of reactor glass.
    B:glassFuelRods=true
}


####################
# other mod tweaks
####################

"other mod tweaks" {
    # Add recipe for Ars Magica 2 Nature Guardian spawn egg. Useful when dryads are disabled.
    B:addAM2NatureGuardianRecipe=true

    # Add a recipe for impure osmium dust to clean osmium dust in the IC2 ore washer.
    B:addOsmiumToOreWasher=true

    # OpenBlocks block breakers and placers have the same recipes as Redpower 2's.
    B:eloraamBreakersAndDeployers=true

    # Current version of ExU has broken recipes for the unstable ingot block. This fixes that.
    B:fixExtraUtilsRecipes=true

    # IC2 reinforced glass (glassReinforced) and Thermal Expansion hardened glass (glassHardened)
    # will be cross-registered as each other in the ore dictionary.
    B:ic2TEGlassInterchangeability=true

    # Register essence ores from Magical Crops in the ore dictionary under "oreMCropsEssence" and "oreMCropsNetherEssence".
    B:registerMagicalCropsOre=true

    # Remove DartCraft's IC2 energy crystal recipe.
    B:removeDartCraftEnergyCrystalRecipe=true

    # Big Reactors reactor casings require steel. Affects ONLY the casings.
    B:steelReactorCasings=true

    # Recipes from Steve's Factory Manager take items from Applied Energistics.
    B:stevesFactoryManagerAERecipes=true

    # Make Dimensional Anchors' recipe closer to that of a chicken chunks chunk loader.
    B:tweakDARecipe=true
}


####################
# tppi guide info
####################

"tppi guide info" {
    # The author of the custom spawn book
    S:bookAuthor=The TPPI Team

    # The title of the custom spawn book
    S:bookTitle=TPPI Welcome Packet

    # The title of the changelog
    S:changelogTitle=TPPI Changelog
}


