# Configuration file

####################
# block
####################

block {
    # This is the base ID blocks will assign from. Delete the other IDs here to auto-align to this value.
    I:BaseID=3120
    I:ID.BioFuel.Still=3143
    I:ID.Bricks=3133
    I:ID.CargoRailDropoffBlock=3125
    I:ID.CargoRailPickupBlock=3126
    I:ID.ChocolateMilk.Still=3140
    I:ID.ConveyorBlock=3121
    I:ID.DetCord=3150
    I:ID.FakeLaser=3147
    I:ID.MachineBlock=3120
    I:ID.MachineBlock1=3131
    I:ID.MachineBlock2=3146
    I:ID.Meat.Still=3136
    I:ID.Milk.Still=3135
    I:ID.MobEssence.Still=3141
    I:ID.MushroomSoup.Still=3142
    I:ID.PassengerRailDropoffBlock=3127
    I:ID.PassengerRailPickupBlock=3128
    I:ID.PinkSlime.Still=3138
    I:ID.RedNet.Cable=3144
    I:ID.RedNet.Logic=3145
    I:ID.RedNet.Panel=3149
    I:ID.Road=3132
    I:ID.RubberLeaves=3123
    I:ID.RubberSapling=3124
    I:ID.RubberWood=3122
    I:ID.Sewage.Still=3139
    I:ID.Sludge.Still=3137
    I:ID.StainedGlass=3129
    I:ID.StainedGlassPane=3130
    I:ID.Stone=3134
    I:ID.VineScaffold=3148
}


####################
# entity
####################

entity {
    # If true, using a portaspawner on an empty minecart will make it into a spawner cart
    B:EnableSpawnerCarts=true
    I:ID.Zoologist=330
}


####################
# general
####################

general {
    # A comma-separated list of entity IDs (e.g.: CaveSpider,VillagerGolem,butterflyGE) to blacklist from the AutoSpawner.
    S:AutoSpawner.Blacklist=OpenBlocks.Luggage,Thaumcraft.TravelingTrunk,Thaumcraft.Pech,Thaumcraft.Pech.1,Thaumcraft.Pech.2,TwilightForest.Questing Ram,arsmagica2.BossNatureGuardian,arsmagica2.BossArcaneGuardian,arsmagica2.BossEarthGuardian,arsmagica2.BossWaterGuardian,arsmagica2.BossWinterGuardian,arsmagica2.BossAirGuardian,arsmagica2.BossFireGuardian,Robit

    # The work required to generate a mob in exact mode.
    I:AutoSpawner.Cost.Exact=50

    # The work required to generate a mob in standard (non-exact) mode.
    I:AutoSpawner.Cost.Standard=15

    # If true, biofuel will explode when in the nether.
    B:Biofuel.Exploding=true

    # If the number of entities in the breeder's target area exceeds this value, the breeder will cease operating. This is provided to control server lag.
    I:Breeder.ShutdownThreshold=50

    # If false, conveyors will not grab non-item entities. Breaks conveyor mob grinders but makes them safe for golems, etc.
    B:Conveyor.CaptureNonItems=true

    # If true, conveyors will NEVER capture players regardless of other settings.
    B:Conveyor.NeverCapturePlayers=false

    # If true, conveyors will NEVER capture Thaumcraft golems regardless of other settings.
    B:Conveyor.NeverCaptureTCGolems=false

    # If true, the fertilizer will use bonemeal as well as MFR fertilizer. Provided for those who want a less work-intensive farm.
    B:Fertilizer.EnableBonemeal=false

    # The rate at which fish are dropped from the fishing rod. The drop rate is 1 / this number. Must be greater than 0.
    I:FishDropRate=5

    # The work required by the drill to generate a single ore.
    I:LaserDrill.Cost=300

    # If true, Empty Syringes will be able to contain liquids and inject players.
    B:LiquidSyringes=true

    # If true, meat will be worth steak saturation instead of cookie saturation.
    B:Meat.IncreasedSaturation=false

    # Set to false to disable the harvester's sound when a block is harvested.
    B:PlaySounds=false

    # A comma-separated list of block IDs to prevent RedNet cables from connecting to.
    S:RedNet.ConnectionBlackList=

    # If true, RedNet cables will dump a massive amount of data to the log file. You should probably only use this if PC tells you to.
    B:RedNet.Debug=false

    # Set to true to enable the RedNet GUI's colorblind mode.
    B:RedNet.EnableColorblindMode=false

    # When searching for parts of a fruit tree, how far out to the sides (radius) to search
    I:SearchDistance.FruitTreeMaxHoriztonal=5

    # When searching for parts of a fruit tree, how far up to search
    I:SearchDistance.FruitTreeMaxVertical=20

    # When searching for players or dropoff locations, how far out to the sides (radius) to search
    I:SearchDistance.PassengerRailMaxHorizontal=3

    # When searching for players or dropoff locations, how far up to search
    I:SearchDistance.PassengerRailMaxVertical=2

    # How far upward to search for members of "stacking" blocks, like cactus and sugarcane
    I:SearchDistance.StackingBlockMaxVertical=5

    # When searching for parts of a tree, how far out to the sides (radius) to search
    I:SearchLimit.TreeMaxHorizontal=200

    # When searching for parts of a tree, how far up to search
    I:SearchLimit.TreeMaxVertical=256

    # If true, when you have no empty slots in your inventory, you will continue filling buckets from tanks and drop them on the ground.
    B:Tanks.FillWithoutEmptySlots=true

    # A comma-separated list of ore dictionary entrys to disable unifying for. By default, MFR will not attempt to unify anything with more than one oredict name.
    S:Unifier.Blacklist=dyeBlue,dyeWhite,logWood,plankWood,treeSapling,projredPart,dyeBrown,dyeBlack

    # If true, allows vanilla glass panes to connect to MFR stained glass panes.
    B:VanillaOverride.GlassPanes=false

    # If true, enables MFR unmelting ice as well as vanilla ice.
    B:VanillaOverride.Ice=true

    # If true, replaces the vanilla milk bucket so milk can be placed in the world.
    B:VanillaOverride.MilkBucket=true

    # A comma-separated list of dimension IDs to disable MFR worldgen in. By default, MFR will not attempt worldgen in dimensions where the player cannot respawn.
    S:WorldGen.DimensionBlacklist=

    # Higher numbers make sewage lakes rarer. A value of one will be approximately one per chunk.
    I:WorldGen.LakeRarity.Sewage=32

    # Higher numbers make sludge lakes rarer. A value of one will be approximately one per chunk.
    I:WorldGen.LakeRarity.Sludge=32

    # Whether or not to generate MFR lakes during map generation
    B:WorldGen.MFRLakes=true

    # Whether or not to generate rubber trees during map generation
    B:WorldGen.RubberTree=true

    # A comma-separated list of biomes to disallow rubber trees to spawn in. Overrides any other biomes added.
    S:WorldGen.RubberTreeBiomeBlacklist=

    # A comma-separated list of biomes to allow rubber trees to spawn in. Does nothing if rubber tree worldgen is disabled.
    S:WorldGen.RubberTreeBiomeWhitelist=

    # If true, enable adding Sacred Rubber Sapling to jungle temple loot.
    B:WorldGen.SacredRubberSapling=true
}


####################
# item
####################

item {
    # This is the base ID items will assign from. Delete the other IDs here to auto-align to this value.
    I:BaseID=11987
    I:ID.BioFuel=12009
    I:ID.BioFuelBucket=12010
    I:ID.BlankRecord=12006
    I:ID.CeramicDye=12005
    I:ID.ChocolateMilkBucket=12034
    I:ID.FertilizerItem=11992
    I:ID.FishingRod=12048
    I:ID.Hammer=11987
    I:ID.LaserFocus=12033
    I:ID.MachineBlock=12003
    I:ID.MeatBucket=12029
    I:ID.MeatIngotCooked=12026
    I:ID.MeatIngotRaw=12025
    I:ID.MeatNuggetCooked=12028
    I:ID.MeatNuggetRaw=12027
    I:ID.Milk=11988
    I:ID.MilkBottle=12014
    I:ID.MobEssence=11991
    I:ID.MobEssenceBucket=11998
    I:ID.MushroomSoupBucket=12035
    I:ID.NeedleGun=12036
    I:ID.NeedleGun.Ammo.Anvil=12043
    I:ID.NeedleGun.Ammo.Empty=12037
    I:ID.NeedleGun.Ammo.Fire=12042
    I:ID.NeedleGun.Ammo.Lava=12039
    I:ID.NeedleGun.Ammo.Sewage=12041
    I:ID.NeedleGun.Ammo.Sludge=12040
    I:ID.NeedleGun.Ammo.Standard=12038
    I:ID.PinkSlimeBucket=12030
    I:ID.PinkSlimeball=12031
    I:ID.PlasticBag=12049
    I:ID.PlasticBoots=12050
    I:ID.PlasticCell=12047
    I:ID.PlasticCup=12044
    I:ID.PlasticSheet=11993
    I:ID.PortaSpawner=12016
    I:ID.RawPlastic=11994
    I:ID.RawRubber=12002
    I:ID.RedNet.MemoryCard=12023
    I:ID.RedNet.Meter=12022
    I:ID.Rocket=12046
    I:ID.RocketLauncher=12045
    I:ID.RubberBar=11995
    I:ID.Ruler=12024
    I:ID.SafariNet=12004
    I:ID.SafariNetJailer=12032
    I:ID.SafariNetLauncher=12012
    I:ID.SafariNetSingleUse=12008
    I:ID.Sewage=11990
    I:ID.SewageBucket=11996
    I:ID.Sludge=11989
    I:ID.SludgeBucket=11997
    I:ID.Spyglass=12015
    I:ID.Straw=12017
    I:ID.SugarCharcoal=12013
    I:ID.SyringeCure=12020
    I:ID.SyringeEmpty=11999
    I:ID.SyringeGrowth=12001
    I:ID.SyringeHealth=12000
    I:ID.SyringeSlime=12019
    I:ID.SyringeZombie=12007
    I:ID.Upgrade=12011
    I:ID.Upgrade.PRC=12021
    I:ID.XPExtractor=12018

    # If true, DSU can be built out of chests instead of ender pearls. Does nothing if the DSU recipe is disabled.
    B:Recipe.CheaperDSU=false

    # If true, the Guns will be craftable.
    B:Recipe.Guns=true

    # If true, mossy cobble can be crafted.
    B:Recipe.MossyCobble=true

    # If true, the safarinet launcher will be craftable.
    B:Recipe.NetLauncher=true

    # If true, the PortaSpawner will be craftable.
    B:Recipe.PortaSpawner=true

    # DSU recipes will always craft one DSU. Does nothing for recipes that already only craft one DSU (cheap mode, GT recipes, etc).
    B:Recipe.SingleDSU=false

    # If true, the Syringes will be craftable.
    B:Recipe.Syringes=true

    # If true, SPAMRs will explode when they run out of fuel.
    B:SPAMR.Exploding=true
}


####################
# machine
####################

machine {
    I:AutoAnvil.ActivationCostMJ=16
    B:AutoAnvil.Recipe.Enabled=true
    I:AutoBrewer.ActivationCostMJ=4
    B:AutoBrewer.Recipe.Enabled=true
    I:AutoDisenchanter.ActivationCostMJ=32
    B:AutoDisenchanter.Recipe.Enabled=true
    I:AutoEnchanter.ActivationCostMJ=16
    B:AutoEnchanter.Recipe.Enabled=true
    B:AutoJukebox.Recipe.Enabled=true
    I:AutoSpawner.ActivationCostMJ=60
    B:AutoSpawner.Recipe.Enabled=true
    I:BioFuelGenerator.ActivationCostMJ=16
    B:BioFuelGenerator.Recipe.Enabled=true
    B:BioReactor.Recipe.Enabled=true
    I:BlockBreaker.ActivationCostMJ=96
    B:BlockBreaker.Recipe.Enabled=true
    I:BlockPlacer.ActivationCostMJ=1
    B:BlockPlacer.Recipe.Enabled=true
    I:BlockSmasher.ActivationCostMJ=1
    B:BlockSmasher.Recipe.Enabled=true
    I:Breeder.ActivationCostMJ=64
    B:Breeder.Recipe.Enabled=true
    I:Chronotyper.ActivationCostMJ=128
    B:Chronotyper.Recipe.Enabled=true

    # If true, the Chunk Loader will ignore forgeChunkLoading.cfg.
    B:ChunkLoader.IgnoreChunkLimit=false
    B:ChunkLoader.Recipe.Enabled=true

    # If true, the Chunk Loader will require that the player who placed it be online to function
    B:ChunkLoader.RequiresOwnerOnline=false
    I:Composter.ActivationCostMJ=2
    B:Composter.Recipe.Enabled=true
    B:DeepStorageUnit.Recipe.Enabled=true
    B:Ejector.Recipe.Enabled=true
    B:EnchantmentRouter.Recipe.Enabled=true
    I:Fertilizer.ActivationCostMJ=96
    B:Fertilizer.Recipe.Enabled=true
    I:Fisher.ActivationCostMJ=2
    B:Fisher.Recipe.Enabled=true
    I:FruitPicker.ActivationCostMJ=32
    B:FruitPicker.Recipe.Enabled=true
    I:Grinder.ActivationCostMJ=320
    B:Grinder.Recipe.Enabled=true
    I:Harvester.ActivationCostMJ=36
    B:Harvester.Recipe.Enabled=true
    B:ItemCollector.Recipe.Enabled=true
    B:ItemRouter.Recipe.Enabled=true
    B:LaserDrill.Recipe.Enabled=true
    I:LaserDrillPrecharger.ActivationCostMJ=500
    B:LaserDrillPrecharger.Recipe.Enabled=true
    I:LavaFabricator.ActivationCostMJ=20
    B:LavaFabricator.Recipe.Enabled=true
    B:LiquiCrafter.Recipe.Enabled=true
    B:LiquidRouter.Recipe.Enabled=true
    I:MeatPacker.ActivationCostMJ=2
    B:MeatPacker.Recipe.Enabled=true
    B:MobCounter.Recipe.Enabled=true
    I:OilFabricator.ActivationCostMJ=588
    B:OilFabricator.Recipe.Enabled=true
    I:Planter.ActivationCostMJ=24
    B:Planter.Recipe.Enabled=true
    I:Rancher.ActivationCostMJ=32
    B:Rancher.Recipe.Enabled=true
    B:RedNote.Recipe.Enabled=true
    B:Sewer.Recipe.Enabled=true
    I:Slaughterhouse.ActivationCostMJ=100
    B:Slaughterhouse.Recipe.Enabled=true
    I:SludgeBoiler.ActivationCostMJ=2
    B:SludgeBoiler.Recipe.Enabled=true
    I:SteamTurbine.ActivationCostMJ=8
    B:SteamTurbine.Recipe.Enabled=true
    B:Unifier.Recipe.Enabled=true
    I:Vet.ActivationCostMJ=32
    B:Vet.Recipe.Enabled=true
    I:WeatherCollector.ActivationCostMJ=4
    B:WeatherCollector.Recipe.Enabled=true
}


####################
# recipesets
####################

recipesets {
    # If true, MFR will register its GregTech-based recipes.
    B:EnableGregTechRecipes=false

    # If true, MFR will register its Thermal Expansion-based recipes.
    B:EnableThermalExpansionRecipes=true

    # If true, MFR will register its standard (vanilla-item-only) recipes.
    B:EnableVanillaRecipes=false
}


